<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">Part1 第3章</span>
			<span class="chapter-title">ノイズ</span>
			<div class="point">
				大多数のものは『無価値』である。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			万物の大半はほとんど価値がなく、ほとんど成果を生まない。<br>
			少数のものだけが非常にに役立ち、大きな影響力を持つ。<br>
			-リチャード・コッチ(起業家、コンサルタント)-
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11 col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　グレッグ・マキューンの事例　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">幼少期のアルバイト</span>
				<span class="number-title_english">Part-time job in childhood</span>
				マキューンは子供の頃、小遣い稼ぎのためにアルバイトをしていた。12歳の子供にできる仕事といば、新聞配達くらいしかなかった。1日1時間ほど働けば、1ポンドが手に入る。自分の体重ほどもありそうな袋をかつぎ、毎日1時間かけて家から家へと新聞を配って回った。ラクな仕事ではなかった。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">より早く稼ぐには</span>
				<span class="number-title_english">Earn faster</span>
				つらい労働の経験がコスト意識を決定的に変化させた。欲しいものがあると、「新聞配達何日分」という数字に置き換えるようになった。1ポンドのお金は、1時間の労働だ。その計算でいくと、欲しいおもちゃが買えるのはまだまだ先になりそうだった。<br>
				そこで頭を使った。どうすればもっと早くお金が稼げるだろうかと考えた。新聞配達のかわりに、隣の家の洗車をするのはどうだろう。料金は1台につき2ポンドだとして、1時間あれば3台は洗える。1時間＝1ポンドだったのが、1時間＝6ポンドになるのだ。それに気づいた瞬間、マキューンは人生の大きな教訓を学んだ。「ある種の努力は、ほかの努力よりも効果が大きい」と。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">時間と成果</span>
				<span class="number-title_english">Time and achievements</span>
				大学生になり、カスタマーサービスのアルバイトを始めた。時給は9ドル。1時間＝9ドルと考えるのはたやすいが、マキューンはそれよりも大事なことに気づいていた。問題は、時間とお金ではなく、時間と成果の関係なのだ。<br>
				「この仕事で、もっとも価値のある成果は何か？」と考えた。解約するつもりの顧客を引き止めることができれば、もっとも大きく会社に貢献できるはずだ。そこで、解約を思いとどまらせるために全力を注いだ。やがて担当する顧客の解約率はゼロになった。おかげで報酬は増え、会社にも大きく貢献できた。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">価値のある成果</span>
				<span class="number-title_english">valuable achievements</span>
				努力は大切だ。だが、努力の量が成果に比例するとは限らない。実際、真面目に働けば成果は上がるし、困難にも対応できる。しかし、そこには限界があるはずだ。がむしゃらに頑張るよりも、「より少なく、しかしより良く」努力したほうがいい。
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			<h3>重要な少数派は多数の瑣末に勝る</h3>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-2">
				「より少なく、しかしより良く」という考え方に慣れるのは、思ったほど簡単なことではない。
				たいていの人は「もっと努力しろ、もっともっと」と長年言われつづけてきたはずだ。
				だが努力の量を増やしても、いつか限界がやってくる。それ以上努力しても成果が増えないどころか、逆に成果が減ってしまう。
				「努力した分だけ報われる」というのは、ただの幻想だ。残念ながら、世の中はそこまで単純ではない。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				努力の量と成果が比例するという考え方を捨てたとき、エッセンシャル思考の大切さが見えてくる。
				多数の良いチャンスは、少数のものすごく良いチャンスに遠く及ばない。
				そのことを理解し、数かぎりないチャンスのなかから「これだけは」というものを見つけなくてはならない。
				本当に重要なことにイエスと言うためには、その他すべてにノーと言うのだ。
			</div>
			<div class="col-sm-7 chapter_style-1">
				エッセンシャル思考の人は、たっぷりと時間をかけて選択肢を検討する。
				やるべきことを正しく選べば、その見返りはとてつもなく大きいことお知っているからだ。
				エッセンシャル思考の人は、多くをやらなくてすむように、多くを吟味するのだ。
			</div>
			<div class="col-sm-7 chapter_style-1 chapter_style-2">
				まずは小さなことから練習し、十分に身についたらより大きなテーマへと進んでいこう。
				エッセンシャル思考をマスターするには、考え方お根本的に変えていかなくてはならない。
				それは簡単なことではないが、決して不可能なことではない。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・大多数のものごとが大切だと思い込む
				</p>
				<p class="learn-contents">
					・「全部やらなくては」という思考から抜け出せない
				</p>
				<p class="learn-contents">
					・なんでも根性だけで乗り切ろうとする
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・大多数のものごとが不要だと考える
				</p>
				<p class="learn-contents">
					・たっぷりと時間をかけて選択肢を検討する
				</p>
				<p class="learn-contents">
					・やるべきことを正しく選ぶことで、その見返りが大きいことを知っている
				</p>
				<p class="learn-contents">
					・多くのことをやらなくて済むように、多くを吟味する
				</p>
				<p class="learn-contents">
					・本質的な少数のものだけを選び取り、その他多くのチャンスを捨てる
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter2", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter4", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
	</div>
</div>