<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">第11章</span>
			<span class="chapter-title">Part3 拒否</span>
			<div class="point">
				断固として上手に断る。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			勇気とは、プレッシャーに負けない品格のことだ。<br>
			アーネスト・ヘミングウェイ(作家)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11 col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　ローザ・パークスと　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">現実味のない目標</span>
				<span class="number-title_english">Unrealistic goals</span>
				ローザ・パークスはアラバマ州モンゴメリーのバスで白人専用席に座り、そこから立ち引くことを拒否した。この出来事が、その後の公民権運動に火をつけることとになる。パークス自身が、そのときのことをこう語っている。「運転手は私が動かないのを見て、さっさと立たないのか、とたずねました。私は『いいえ、立ちません』と答えました」。<br>
				しかし、パークスは我の強い人間ではない。バスの中で断固とした態度を貫いたのは、性格的なものではない。彼女がノーを言ったのは、自分がその瞬間にやるべきことを、心の底から確信していたためだ。バスの運転手に立てと言われた時のことを、彼女はこう振り返る。「強い意志が、冬の夜のキルトのように私の全身を包んでいる感じがしました」。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">心動かされた目標</span>
				<span class="number-title_english">Moved goals</span>
				その決意が世界中に反響を呼び起こそうとは、夢にも思わなかった。たしかだったのは、自分の心だ。彼女は逮捕されながらも、「もう二度と座席のことでこんな屈辱を受けたりしない」と固く誓った。その屈辱を避けるためなら、刑務所に入るリスクくらい受け入れられると思ったのだ。<br>
				彼女の行動は大切なことを教えてくれる。断固として断らなくてはならないとき、あるいは周囲の同調圧力に負けそうになったとき、彼女に強い意志を思い出して欲しい。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">本質を見つめた目標</span>
				<span class="number-title_english">Goals that look at the essence</span>
				シンシアは、ある印象的なエピソードを話してくれた。昔、父親がサンフランシスコへの公演出張に連れていってくれた時のことだ。当時12歳だったシンシアは、父親との「デート」を数ヶ月前から楽しみにしていた。シンシアと父親は、デートプランを何度も念入りに話し合った。計画を立ててワクワクするのも、旅行の醍醐味だった。<br>
				ところが当日、公演会場を出ようとしたとき、父親の仕事仲間にばったり出くわした。学生時代からの友人だが、会うのは数年ぶりだ。興奮して再開を喜ぶ2人を、シンシアは横で眺めていた。父親の友人はこう言った。「われわれの会社と仕事をしてくれるなんて、嬉しいよ。ところで、埠頭に最高のシーフードを食わせる店があるんだが、よかったら一緒にどうだい。もちろん、シンシアも一緒にね」。父親はそれを聞くと、勢いよく言った。「それはいいね。埠頭でディナーとは最高だろうな」。シンシアは意気消沈した。デートはこれでおじゃんだ。だがそのとき、父親はこう続けた。「でも今夜は駄目なんだ。シンシアと特別なデートの約束をしているものでね。そうだろう？」父親はシンシアにウインクし、そっと手を取って歩き出した。会場をあとにしたふたりは、サンフランシスコで一生忘れられない夜を過ごしたのだった。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">本質を見つめた目標</span>
				<span class="number-title_english">Goals that look at the essence</span>
				あああ
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			〜 〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-2">
				重要なことにエネルギーを集中させるため、不要なものを切り捨てる技術。
				最初に切り捨てるべきは、やろうとしている意図にそぐわない行動だ。
				単純なことのようだが、これを実現するためには、自分がどんな目的に向かっているかを明確に定義しなければならない。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				「かなり明確」を「完全に明確」にする。
				あなたの目的や戦略は明確か、と経営者にたずねると「かなり明確です」という答えがよく返ってくる。
				かなり明確なら、それで十分だと思っているようだ。
				だが「完全に明確」な状態を知ると、それまでの「かなり」が不便だったことに気付く。
				まるで視力の悪い人が、初めて眼鏡をかけたときのようなものだ。
			</div>
			<div class="col-sm-7 chapter_style-2">
				どうすれば目的を明確にできるのだろうか？<br>
				一つのやり方は「本質目標」を決めることだ。<br>
				◎ビジョン・ミッション　<刺激的だが具体性に乏しい目標><br>
				「世界を変えたい」<br>
				◎価値観　<平凡で一般的な目標><br>
				「イノベーション」「リーダーシップ」「チームワーク」<br>
				◎四半期目標　<常に具体的だが魅力的ではない目標><br>
				「昨年比5％の増益」<br>
				◎本質目標　<具体的で魅力的な目標><br>
				「南アフリカにおけるアパルトヘイトの撤廃」
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				本質目標は、仕事や会社だけのものではない。正しく使えば、人生に意味を与え、正しい方向へと導いてくれる。人生の本質目標を決めるのは、容易ではない。勇気と洞察力を持ち、自分の力を最高に発揮できる行動を見定めなくてはならない。<br>
				そのためには、タフな問いに答えることが必要だ。トレードオフを直視し、本質から外れたものごとを断固として切り捨てなくてはならない。厳しいが、やるだけの価値はある。本当に明確な目標だけが、自分や組織の力を最大限に引き出し、真にすぐれた成果を可能にしてくれる。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・周囲の期待とプレッシャーに負けてイエスと言う
				</p>
				<p class="learn-contents">
					・なんでも引き受ける
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・きっぱりと上手にノーと言う
				</p>
				<p class="learn-contents">
					・本当に重要なことしか引き受けない
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter10", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter12", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
	</div>
</div>