<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">第11章</span>
			<span class="chapter-title">Part3 拒否</span>
			<div class="point">
				断固として上手に断る。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			勇気とは、プレッシャーに負けない品格のことだ。<br>
			アーネスト・ヘミングウェイ(作家)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11 col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　ローザ・パークスとシンシア　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">白人専用席</span>
				<span class="number-title_english">Caucasian seat</span>
				ローザ・パークスはアラバマ州モンゴメリーのバスで白人専用席に座り、そこから立ち引くことを拒否した。この出来事が、その後の公民権運動に火をつけることとになる。パークスは、その時のことをこう語っている。「運転手は私が動かないのを見て、さっさと立たないのか、とたずねました。私は『いいえ、立ちません』と答えました」。<br>
				しかし、パークスは我の強い人間ではない。バスの中で断固とした態度を貫いたのは、性格的なものではない。彼女がノーを言ったのは、自分がその瞬間にやるべきことを、心の底から確信していたためだ。バスの運転手に立てと言われた時のことを、彼女はこう振り返る。「強い意志が、冬の夜のキルトのように私の全身を包んでいる感じがしました」。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">強い意志</span>
				<span class="number-title_english">Strong will</span>
				その決意が世界中に反響を呼び起こそうとは、夢にも思わなかっただろう。確かだったのは、自分の心だ。彼女は逮捕されながらも、「もう二度と座席のことでこんな屈辱を受けたりしない」と固く誓った。その屈辱を避けるためなら、刑務所に入るリスクくらい受け入れられると思ったのだ。<br>
				彼女の行動は大切なことを教えてくれる。断固として断らなくてはならないとき、あるいは周囲の同調圧力に負けそうになったとき、彼女に強い意志を思い出して欲しい。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">デートプラン</span>
				<span class="number-title_english">Date plan</span>
				シンシアは、ある印象的なエピソードを話している。昔、父親がサンフランシスコの公演出張に連れていってくれた時のことだ。当時12歳だったシンシアは、父親との「デート」を数ヶ月前から楽しみにしていた。シンシアと父親は、デートプランを何度も念入りに話し合った。。<br>
				ところが当日、公演会場を出ようとしたとき、父親の仕事仲間にばったり出くわした。学生時代からの友人だが、会うのは数年ぶりだ。興奮して再開を喜ぶ2人をシンシアは横で眺めていた。父親の友人はこう言った。「われわれの会社と仕事をしてくれるなんて、嬉しいよ。ところで、埠頭に最高のシーフードを食わせる店があるんだが、よかったら一緒にどうだい。もちろん、シンシアも一緒にね」。父親はそれを聞くと、勢いよく言った。「それはいいね。埠頭でディナーとは最高だろうな」と。シンシアは意気消沈した。デートはこれでおじゃんだ。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">最高の思い出</span>
				<span class="number-title_english">Best memories</span>
				だがそのとき、父親はこう続けた。「でも今夜は駄目なんだ。シンシアと特別なデートの約束をしているものでね。そうだろう？」。父親はシンシアにウインクし、そっと手を取って歩き出した。会場をあとにしたふたりは、サンフランシスコで一生忘れられない夜を過ごしたのだった。<br>
				この話に出てくるシンシアの父親は『7つの習慣』で有名なスティーブン・コヴィーだ。シンシアはこの出来事についてこう語っている。「この出来事のおかげで、父との間には永遠に切れない絆が生まれました。私がもっとも大切な存在だと示してくれたからです」。<br>
				ビジネスの世界的権威だったコヴィー氏は、エッセンシャル思考の人だった。彼の教えもそうだが、本人もそれを常に実践していた。娘を優先するという決断によって、彼はいつまでも消えない思い出をプレゼントしたのだ。
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			〜 〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-2">
				自分が「正しい」と思うことと、誰かが「やれ」と言うことが、食い違っていた経験はあるだろうか？
				心の中で違うと思いながら、仕方なく行動したことは？
				他人の顔色を伺い、場を丸くおさめるためにイエスと言ったことは？
				上司や同僚、友達、親戚、近所の人などの誘いを、断るのが怖くて引き受けてしまったことは？
				きっと思い当たることがあるはずだ。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				他人からのプレッシャーに負けず、きっぱりと上手に断ることは、エッセンシャル思考の必須スキルである。と同時に、もっとも難しいスキルでもある。<br>
				断るためには、勇気が必要だ。
				切り捨てる勇気がなければ、「より少なく」という言葉は空疎なお題目になってしまう。
				「重要なことだけに集中しろ」というのは容易いが、それを本当に実践している人は多くない。<br><br>
				ノーを言うのは、誰だって不安だ。
				せっかくのチャンスを逃すのは怖いし、自分の立場が不味くなるのは困る。
				尊敬する上司や大事な仲間を失望させたくない。
				そう思うのは自然であり、何も悪いことではない。
				だが、そういう気持ちに打ち克ってノーを言うことができなければ、それよりはるかに大切なものを失うことになってしまう。<br>
				急な決断を迫られたとき、その場で正しく本質を選ぶのは難しい。
				自分にとって本当に重要なことを明確にしない限り、私たちは葛藤に対して無力なままだ。
				次々とやってくるタフな選択から私たちを守ってくれるのは
				「自分にとって本当に重要なのはこれだ」という確信である。
			</div>
			<div class="col-sm-7 chapter_style-2">
				非エッセンシャル思考の人は、周囲の期待やプレッシャーに負けて、不本意なイエスを言ってしまう。
				よく考えもせず、相手を喜ばせるためだけに仕事を引き受ける。
				単純に、そのほうが気分がいいからだ。<br>
				エッセンシャル思考の人は、そうした気分のよさが長続きしないことを知っている。
				一瞬の満足のあとでやってくるのは、深い後悔だ。
				なぜこんなことをやらねばならないのか、相手を恨み、自分を責める。
				もっと重要な仕事が犠牲になったことに気づき、ショックを受ける。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・周囲の期待とプレッシャーに負けてイエスと言う
				</p>
				<p class="learn-contents">
					・なんでも引き受ける
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・きっぱりと上手にノーと言う
				</p>
				<p class="learn-contents">
					・本当に重要なことしか引き受けない
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter10", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter12", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
	</div>
</div>