<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第18章　習慣〜本質的な行動を無意識化する〜
		</h1>
		<p class="learn-explanation">
			何か決めている習慣はあるだろうか？<br>
			習慣は妨害に打ち勝つための最強の武器だ。習慣がなければ、数知れぬ誘惑に打ち勝つことは難しい。<br>
			本質的な目標に向かう行動を習慣付けてしまえば、無意識のうちに目標を達成できる。<br>
			いちいち難しい判断をする必要はないし、誘惑から目を背けるためにエネルギーを使う必要もない。

	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・火事場の馬鹿力に期待する
				</p>
				<p class="learn-contents">
					・重要なことをやるのは例外的
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・正しい習慣を通じて自然に達成する
				</p>
				<p class="learn-contents">
					・重要なことをやるのが普通の状態
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>