<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第16章　削除〜仕事を減らし、成果を増やす〜
		</h1>
		<p class="learn-explanation">
			仕事や日々の生活の中で、何かあなたの進みを妨げているものはないだろうか？<br>
			冷静にそのボトルネックを特定して取り除くことができれば、<br>
			見違えるほどスムーズに重要なことを達成できるようになる。
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・場当たり的に問題に対処し、応急処置を積み重ねる
				</p>
				<p class="learn-contents">
					・仕事が増える
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・目の前の症状に惑わされず、本当の障害だけを効果的に取り除く
				</p>
				<p class="learn-contents">
					・成果が増える
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>