<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">第16章</span>
			<span class="chapter-title">Part4 削除</span>
			<div class="point">
				仕事を減らし、成果を増やす。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			「学を為せば益し、道を為せば日に損す。<br>
			老子(哲学者)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11 col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　アレックス・ロゴの事例　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">経営難の工場</span>
				<span class="number-title_english">Difficult factory</span>
				ビジネス書のベストセラー『ザ・ゴール』で、機械メーカーの工場長である主人公アレックス・ロゴは、状況が悪化している工場をたった3ヶ月で建て直すという難題に直面する。アレックスは途方に暮れるが、そこに恩師ジョナが現れ、短時間で大きな成果を上げるには、「ボトルネック」を探せばいいとアドバイスをする。<br>
				ボトルネックとは、システム全体の足かせになっている部分のことだ。
				ほかのあらゆる部分の性能を高めても、ボトルネックが残っていたら全体の性能はほとんど上がらない、と恩師は説明する。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">ハイキング</span>
				<span class="number-title_english">Hiking</span>
				その話の意味がつかみきれないまま、アレックスは息子たちを連れてボーイスカウトのハイキングに同行する。アレックスは少年たちを日暮れまでにキャンプサイトに到着させなければならないが、小学生の集団は思ったように動いてくれない。
				何人かはどんどん先に進んでしまうし、何人かはずっと遅れて見えなくなりそうだ。
				とくに遅れているのはハービーという少年で、先頭グループとハービーとの距離は数キロにもなろうとしている。<br>
				初めのうち、アレックスは先頭グループにいったん止まるように言い、ほかのみんなが追いつくまで待たせてから出発するという戦略をとった。そうするといったんは全員が揃うのだが、またすぐに間隔が広がって元通りになってしまう。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">やり方を変える</span>
				<span class="number-title_english">Change the way</span>
				そこでアレックスは、別のやり方をとることにした。ハービーを先頭に立たせて、残りの少年たちを歩く速度が遅い順に並ばせる。いちばん早い子が列の最後尾だ。一か八かだったが、やってみると列はひとまとまりになってスムーズに動き始めた。誰も遅れをとらないので、全員に目を配ることができる。
				ただしハービーが先頭なので、全体のペースは必然的に遅くなった。これでは、全員が遅れてしまうかもしれない。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">さらなる改善</span>
				<span class="number-title_english">Further improvement</span>
				アレックスはそこで、ハービーの負担をなるべく軽くするという手段をとった。
				全体のペースを決めているのは一番遅いハービーだ。
				だからハービーが早く歩けるようになれば、全員の進み方が早くなる。
				そこでアレックスは、おやつなどで膨らんだハービーの荷物を開けて、他の少年たちに少しずつ負担してもらった。
				おかげで歩くペースはずいぶんと速くなり、全員が日暮れまでに無事キャンプ場へと辿り着いた。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>05</h3>
				<span class="number-title">ボトルネックの改善</span>
				<span class="number-title_english">Improvement of bottleneck</span>
				この出来事が、工場の業務改善に対する大きなヒントになった。
				手当たり次第に改善しようとするのではなく、「ハービー」的な部分を見つけることが大切なのだ。
				アレックスは部品の待ち行列の長さを調べて、ボトルネックとなっている機械を特定した。
				この機械の処理速度を改善した結果、二番目に遅かった機会も自然に速くなった。そして見る見るうちに、工場全体の生産性が向上し始めた。
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			〜 〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-2">
				あなたにとっての「ハービー」はなんだろう。
				仕事や日々の生活で、何があなたの進みを妨げているのだろうか。
				冷静にボトルネックを特定して取り除くことができれば、見違えるほどスムーズに重要なことを達成できるはずだ。<br>
				ただし、当てずっぽうに改善しようとしても意味がない。
				とくに問題ないところをあちこち改善しても、効果は薄く、短期的だ。まったく無意味ということもある。
				システム全体を改善するには、全体の進捗を邪魔しているボトルネックの発見が鍵となるのだ。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				非エッセンシャル思考の人は、場当たり的に問題に対処する。
				困ったらこれを直し、また別のところが困ったらそれを直すといった具合だ。
				いくらやっても切りがなく、状況は悪くなるばかりだ。<br><br>
				エッセンシャル思考の人は、目の前の症状に惑わされず、どこが本当の問題なのかを見極めようとする。
				何が妨げになっているのかを特定し、もっとも効果的に処置する。
				非エッセンシャル思考の人は応急処置でつぎはぎだらけになっていくが、
				エッセンシャル思考のひとは本当に必要なところに一度だけメスを入れる。
				これは問題解決に限らず、最小限の努力で最大限の結果を得るための普遍的なやり方である。
			</div>
			<div class="col-sm-7 chapter_style-2">
				どの努力が成果を生み、どの努力がそうでないかについて、私たちは注意を払うことを忘れがちだ。
				あるいはそれを意識していても、やはり増やすことに気を取られて減らすことを考えない。
				売り上げを伸ばすために営業人員を増やし、商品をよくするために開発者を増やすといった調子だ。<br>
				それがうまくいく場合もあるが、成果を改善するためには、逆から考えることも必要だ。
				エッセンシャル思考の場合、人やお金や時間を増やすかわりに、制約や障害を取り除くことを考える。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				3つのコツ。<br>
				<br>
				①目指すことを明確にする<br>
				めざす成果が明確でなければ、何をすべきかは分からない。
				採取的にどのような状態であるえきかが分からなければ、そこまでの道筋も見えてこない。
				だからまず最初に、こう自問しよう。「最終的にどこへ辿り着きたいのか？」<br>
				<br>
				②ボトルネックを特定する<br>
				目指すべきことがわかったら、仕事に取り掛かる前にいったん立ち止まって考えよう。
				「この仕事をやり遂げる上で、邪魔になるものは何か？」
				仕事の完成を邪魔するものがあれば、すべてリストアップしよう。
				たとえば情報が足りないとか、疲れているとか、完璧にしないと気がすまないとか。
				リストができたら、優先順位をつけよう。
				「これを取り除けばほかの問題も解決するような、大きな障害は何か？」と考えるのだ。
				ボトルネックを特定するうえで注意しておきたいのは、生産的な行動が大きな邪魔になる場合もあるということだ。
				メールで情報共有したり、完成度を高めるために書き残したり、そういった前向きな行動が、今回の目標を達成するうえでのボトルネックになるかもしれない。
				目標達成を邪魔する行動は、どれほど前向きであっても疑ってかかる必要がある。
				目標達成を邪魔する要素はいくるもあると思うが、最優先で解決すべきことはひとつだけだ。
				手当たり次第にいろいろ手を出したところで、肝心のボトルネックが残っていたら何の意味もない。<br>
				<br>
				③邪魔なものを取り除く<br>
				仮にあなたのボトルネックが、完璧にしないと気がすまない性格だったとしよう。
				どんなレポートも改善点を探せが切りがないが、目標は「草稿」を送ることだとしたら、
				ボトルネックを取り除くために「完璧じゃないと駄目だ」という考えを捨てて、
				「完璧を目指すより終わらせることが大事」と考えよう。完成度よりもスピードを重視するのだ。
				こうして最大の障害を取り除いておけば、ほかの全てがスムーズに進み始める。<br>
				<br>
				ボトルネックを取り除くのは、それほど難しいことではない。
				小さなことが、とても大きな結果につながるからだ。
				山の山頂にある石を転がすのと同じで、最初の一押しさえがんばれば、あとは自然にすべてがうまくまわり出す。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・場当たり的に問題に対処し、応急処置を積み重ねる
				</p>
				<p class="learn-contents">
					・仕事が増える
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・目の前の症状に惑わされず、本当の障害だけを効果的に取り除く
				</p>
				<p class="learn-contents">
					・成果が増える
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter15", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter17", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>