<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第19章　集中〜「今、何が重要か」を考える〜
		</h1>
		<p class="learn-explanation">
			過去の失敗について、くよくよ思い悩んでしまうことはあるだろうか？<br>
			未来について心配したり、考えすぎて不安な状態から抜け出せないことはないだろうか？<br>
			ここの失敗や未来への不安にとらわれのは、人としてごく自然なことだ。<br>
			ただし、過去や未来のことを考えるたびに、目の前の大事なことがおろそかになるという事実も忘れてはならない。

	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・過去と未来に引き裂かれている
				</p>
				<p class="learn-contents">
					・昨日や明日の問題について考える
				</p>
				<p class="learn-contents">
					・未来への不安や過去の失敗を思い悩む
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・現在に集中している
				</p>
				<p class="learn-contents">
					・目の前の問題を考える
				</p>
				<p class="learn-contents">
					・今を楽しむ
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>