<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">第13章</span>
			<span class="chapter-title">Part3 編集</span>
			<div class="point">
				余剰を削り、本質を取り出す。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			私は大理石のなかに天使を見た。石を削ってそれそ解き放った。<br>
			ミケランジェロ(彫刻家)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11 col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　マイケル・カーンとジャック・ドーシー　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">編集技師</span>
				<span class="number-title_english">Editing engineer</span>
				毎年アカデミー賞の季節になると、人々は作品賞の予想で盛り上がる。その一方、作品賞の陰に隠れてあまり目立たない賞もある。「アカデミー編集賞」だ。アカデミー編集賞の歴史の中でもっとも尊敬されている編集技師は、マイケル・カーンだ。<br>
				過去8回のノミネートという史上最多記録を持ち、受賞数も3回に上る。スティーブン・スピルバーグ監督作品はほとんどカーンが編集しており、スピルバーグの右腕とも呼ばれる存在になっている。それなのにカーンの名前を知っている人はあまりに少ない。それは編集の仕事が「目に目えないアート」と呼ばれる所以だろう。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">本質を取り出す</span>
				<span class="number-title_english">Take out the essence</span>
				編集は、エッセンシャル思考の技術である。
				不要なものや余分なものを容赦なく削り、作品の本質を取り出す仕事だ。
				では、どうすればすぐれた編集技師を見分けられるのか？<br>
				アカデミー賞の選考をおこなう映画芸術学科アカデミーは「見せられたものを見ないために懸命に努力する」のだという。
				言い換えれば、すぐれた編集技師は、重要なものがいやでも目に入ってくるようにするのだ。
				余分なものを排して、見るべき要素だけを観客に提示するのだ。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">最高編集責任者</span>
				<span class="number-title_english">Chief Editor</span>
				ツイッター共同創始者のジャック・ドーシーは、たぐいまれなエッセンシャル思考の経営者だ。彼はCEOの役割を「最高”編集”責任者」と定義していた。そのことについてドーシーはこのように説明している。<br>
				「なぜ編集かというと、日々やることは山ほどありますよね。でもその中で、本当に重要なのは1つか2つ。エンジニアやサポート担当やデザイナーは次から次へとアイデアを持ちかけてきますが、編集者である自分はそういう情報のなかから1つのこと、あるいは2つか3つの要素の交点を見つけ出し、それだけを実行すると決めるのです」。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">価値を増やす</span>
				<span class="number-title_english">FIncrease value</span>
				ただノーと言うだけなら、3歳児にもできる。
				編集の技術は、ただ減らすことにあるのではない。
				減らしながら、価値を増やすのだ。
				すぐれた編集技師は、余分なものを削ることによって、そのプロットや世界観やキャラクターをいっそう際立たせる。<br>
				同じように、自分の仕事や生き方を編集すれば、その成果をよりいっそう高めることができる。
				本当に重要なことにエネルギーを集中できるからだ。
				余分なものを削ってこそ、重要なものを生かす余地が生まれる。
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			〜 〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-2">
				仕事や生き方を編集するのは、映画や本を編集するより少しやっかいだ。時間をさかのぼって自分のセリフを書き直すことはできないし、終わった会議やプレゼンをなかったことにすることはできない。それでも、『編集の4原則』を知っておけば、人生は今よりもずっとクリアになる。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				①削除する<br>
				編集の基本は、あいまいでわかりにくい要素を排除し、観客や読者の混乱を防ぐことだ。
				何かを決めるとき、選択肢を増やした方が安心だと考える人は多い。
				だが実を言うと、決断の本質は、選択肢を減らすことにある。
				余分な選択肢を断ち切れば、すんなりと決断できる。
				かなり魅力的な選択肢だとしても、混乱のもとになるものはすべて取り除いた方がいい。
				魅力的なものを捨てるのはつらいけれど、あとになってみればそのほうが良かったと実感するはずだ。
			</div>
			<div class="col-sm-7 chapter_style-2">
				②凝縮する<br>
				「すみません、もっと時間があれば短い手紙が書けたのですが」
				さまざまなバージョンで伝わっている有名な言葉だ。
				何事においても、増やすよりは減らすことの方が難しい。
				一つの言葉や一つのシーンに、より大きな意味を持たせなくてはならないかただ。
				言葉を凝縮するとはつまり、言いたいことを最大限明確かつ簡潔に言うことだ。
				凝縮の目的は一度に多くをやることではない。無駄を減らすことだ。
				より少ない言葉でアイデアを伝える。より少ないスペースで快適な生活を実現する。より少ない努力で大きな成果を出す。
				つまり人生を凝縮するということは、結果に対する行動の比率を減らすということだ。
				そのためには、いくつもの無意味な行動をやめて、重要な行動ひとつに置き換えればいい。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				③修正する<br>
				編集の仕事は、削除と凝縮だけではない。間違いを直すのも大事な役目だ。
				修正を正しくおこなうためには、文章や作品の全体的な狙いを明確に把握しておくごとが不可欠だ。
				マイケル・カーンはスピルバーグの作品を編集する際、言われた通りのことはやらない。
				スピルバーグが本当に伝えたいことを汲みとり、それを実現させる。
				作品の大きな狙いを正確に把握しているから、監督自身が言葉にできない点まで修正することが可能になる。
				仕事や生き方でも、自分の本質的な目標を明確にしておけば、それに合わせて行動を修正できる。
				自分の行動はきちんと本質目標に向かっているだろうか、と振り返ってみてほしい。
				もしも間違った方向に進んでいたら、正しく編集し直せばいい。
			</div>
			<div class="col-sm-7 chapter_style-2">
				④制御する<br>
				すぐれた編集者は、作品に手を入れすぎない。
				何もしない方がいいこともあること知っているからだ。
				何でも手術するのが名医というわけではないのと同じで、
				すぐれた編集者は自分を抑制し、本当に必要なときにしか手を出さない。
				抑制すべきところを知っておくと、人生はもっとうまくいく。
				反射的に手を出すのをやめて、何もしないことを選ぶのだ。
				非エッセンシャル思考の人は、やたらと何にでも手を出して、いざとなったら編集しようと考える。
				だが、編集のタイミングが遅れると、どうしようもなくなって不本意な削除を選ぶことになるかもしれない。
				最善の結果を得るためには、こまめに行動を振り返り、小さな編集を積み重ねたほうがいい。<br>
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				エッセンシャル思考で生きるということは、
				削除と凝縮と修正を、日々の習慣にするということだ。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・良くすることは、何かを付け加えることだと考える
				</p>
				<p class="learn-contents">
					・あらゆる細部に愛着がありすぎる
				</p>
				<p class="learn-contents">
					・やたらと何にでも手を出し、いざとなったら編集しようと考える
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・良くすることは、何かを削ること
				</p>
				<p class="learn-contents">
					・不要な細部は冷徹に切り捨てる
				</p>
				<p class="learn-contents">
					・削除と凝縮と修正を、日々の習慣にする
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter12", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter14", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>