<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第7章　遊び〜内なる子供の声を聞く〜
		</h1>
		<p class="headline-explanation">
			「遊びなんて下らない」「時間の無駄」「幼稚だ」と思っていないだろうか？<br>
			しかし、遊んでいるとき私たちは最も純粋な形で人間らしさを発揮し、自分らしさをさらけだしている。<br>
			遊びはエッセンシャル思考に不可欠であり、それには3つの理由がある。<br>
			<br>
			1.遊ぶことで、私たちの視野は広がり選択肢を広げてくれる<br>2.ストレスを軽減してくれる<br>
			3.脳の高度な機能を活性化させる
		</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・遊びを軽視する
				</p>
				<p class="learn-contents">
					・遊びは時間の無駄だと考える
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・遊びを重視する
				</p>
				<p class="learn-contents">
					・遊びが不可欠だと知っている
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-10 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter6", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter8", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
	</div>
</div>