<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第1章　エッセンシャル思考と非エッセンシャル思考
		</h1>
		<p class="learn-explanation">
			正しいことをやり遂げる技術。<br>
			自分の時間とエネルギーをもっとも効果的に配分し、<br>
			重要な仕事で最大の成果を上げる。
		</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					考え方　[みんな・全て]<br>
					・やらなくては<br>
					・どれも大事だ<br>
					・全部こなす方法は？
				</p>
				<p class="learn-contents">
					行動　[やることをでたらめに増やす]<br>
					・差し迫ったものからやる<br>
					・反射的に「やります」と言う<br>
					・期限が迫ると根性で頑張る
				</p>
				<p class="learn-contents">
					結果　[無力感]<br>
					・何もかも中途半端<br>
					・振り回されている<br>
					・何かがおかしい<br>
					・疲れ切っている
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					考え方　[より少なく、しかしより良く]<br>
					・これをやろう<br>
					・大事なことは少ない<br>
					・何を捨てるべきか
				</p>
				<p class="learn-contents">
					行動　[やることを計画的に減らす]<br>
					・本当に重要なことを見定める<br>
					・大事なこと以外は断る<br>
					・あらかじめ障害を取り除いておく
				</p>
				<p class="learn-contents">
					結果　[充実感]<br>
					・質の高い仕事ができる<br>
					・コントロールしている<br>
					・正しいことをやっている<br>
					・毎日をたのしんでいる
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>