<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第15章　バッファ〜最悪の事態を想定する〜
		</h1>
		<p class="learn-explanation">
			私たちは、予測不可能な世界に住んでいる。<br>
			不測の事態はいつでも起こる。<br>
			だから、何が起きても慌てないように、あらかじめ備えて置いた方がいい。
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・条件に恵まれたケーズを前提として予定を立てる
				</p>
				<p class="learn-contents">
					・お金をパーっと消費してしまう
				</p>
				<p class="learn-contents">
					・土壇場にならないと頑張らない
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・最悪の事態を想定して予定を立てる
				</p>
				<p class="learn-contents">
					・お金はいざと言うときの備えて貯蓄する
				</p>
				<p class="learn-contents">
					・準備と計画に全力を注ぐ
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>