<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第9章　選抜〜最も厳しい基準で決める〜
		</h1>
		<p class="learn-explanation">
			「上司に言われたからやる」「誰かに頼まれたからやる」<br>
			そのような基準で選んでいないだろうか？<br>
			明確で正しい基準を自身の中に持つことで、不要な選択肢を排し、重要な選択を選び取ることができるようになる。
		</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・何にでも「イエス」と言う
				</p>
				<p class="learn-contents">
					・「みんながやっているから」やる
				</p>
				<p class="learn-contents">
					・消極的な基準でものごとを選んでいる
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・上位10％にだけ「イエス」と言う
				</p>
				<p class="learn-contents">
					・「まさに自分の求めていたことだから」やる
				</p>
				<p class="learn-contents">
					・「やろうかな」程度のことなら却下する
				</p>
				<p class="learn-contents">
					・選択肢を検討するときは、つねに基準を設ける
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>