<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第13章　編集〜余剰を削り、本質を取り出す〜
		</h1>
		<p class="learn-explanation">
			編集はエッセンシャル思考の技術である。不要なものや余分なものを容赦なく削り、本質を取り出す。<br>
			編集の4原則を知る。<br>
			<br>
			１．削除する　＝　決断の本質は、選択肢を減らすこと<br>
			２．凝縮する　＝　無駄を減らしシンプルにする<br>
			３．修正する　＝　本質的な目標を明確にした上で、それに合わせ行動を正しく直す<br>
			４．抑制する　＝　反射的に手を出すのをやめて、何もしないことを選ぶ
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・良くすることは、何かを付け加えることだと考える
				</p>
				<p class="learn-contents">
					・あらゆる細部に愛着がありすぎる
				</p>
				<p class="learn-contents">
					・やたらと何にでも手を出し、いざとなったら編集しようと考える
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・良くすることは、何かを削ること
				</p>
				<p class="learn-contents">
					・不要な細部は冷徹に切り捨てる
				</p>
				<p class="learn-contents">
					・削除と凝縮と修正を、日々の習慣にする
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>