<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第17章　前進〜小さな一歩を積み重ねる〜
		</h1>
		<p class="learn-explanation">
			重要な目標や締め切りに向かうとき、最後の最後で全てをやろうとしてしまうことはないだろうか？<br>
			最初から「すごいこと」をやろうとして挫折したことはないだろうか？<br>
			人間のモチベーションに対してもっとも効果的なのは「前に進んでいる」という感覚だ。<br>
			「日々のささやかな進歩」こそがやる気を引き出し、高いパフォーマンスを可能にする。
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・多くを求めて努力すれば、それだけ結果がついてくると考えるが、得るものは少ない
				</p>
				<p class="learn-contents">
					・派手な勝利を追い求める
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・何でもいっぺんにやろうとせず、小さな成功を積み重ねて、大きな成果を得る
				</p>
				<p class="learn-contents">
					・地味でも着実に勝ちに行く
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>