<div class="row space_top">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">第2章</span>
			<span class="chapter-title">Part1 選択</span>
			<div class="point">
				『選ぶ力』を取り戻す。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			われわれを人間にするのは、選択する能力である。<br>
			-マデレイン・レングル(作家)-
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11  col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　マーティン・セリグマンとスティーブン・マイヤーの実験　「学習性無力感」〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">実験概要</span>
				<span class="number-title_english">Experiment outline</span>
				犬を3つのグループに分けた。<br>
				1つ目のグループの犬たちは逃げられないようにつながれた状態で、電気ショックを与えた。ただし、あるパネルを踏むと電気ショッックが止まるようになっていた。
				2つ目のグループの犬たちにも同様に電気ショックが与えられたが、パネルを踏んでも電気ショックを止めることができないようになっていた。
				3つ目のグループの犬たちはつながれていただけで、電気ショックは与えられなかった。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">実験結果</span>
				<span class="number-title_english">Experimental result</span>
				3つのグループの犬たちを小部屋へいれた。その小部屋は低い障壁で2つに仕切られ、一方の床だけ電気ショックが発生するようになっていた。低い障壁を飛びこせば、電気ショックからは逃れられる。<br>
				結果は、電気ショックを与えられなかったグループと電気ショックを止めるパネルがあったグループの犬たちは、すぐに壁を飛び越えて部屋の反対側に逃げることを覚えた。
				ところが、電気ショックを止める方法がなかったグループの犬たちは、壁を飛び越えようとしなかった。電気ショックから逃れる方法を、探そうともしなかったのだ。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">実験考察</span>
				<span class="number-title_english">Experimental consideration</span>
				「電気ショックと止める方法がなかったグループ」の犬たちは、
				なぜ他のグループの犬たちと同じように電気ショックから逃れる方法を探そうとしなかったのか？<br>
				それは、なすすべもなく電気ショックを受けていた犬たちは、そこから逃れるという選択肢があることを忘れていた。
				それまでの経験によって、どうしようもない無力感を身につけてしまったのだ。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">人の学習性無力感</span>
				<span class="number-title_english">Human learned helplessness</span>
				この犬たちと同様に、人にも学習性無力感はある。
				たとえば算数の初歩でつまずき、どうやっても解けない問題に苦しんだ子供は、算数を理解しようという努力を投げ出してしまう。何をしても無駄だと思い込むからだ。
				仕事に関しても、いくら努力しても無駄だという経験をした場合、努力をすっかりやめてしまう。<br>
				また、少し分かりにくい反応だが、投げ出すのではなく、逆に働きすぎる。
				あらゆる仕事を引き受け、どんな難題も諦めない。何もかもやろうとする。
				一見すると学習性無力感とは無縁のようだが、よくよく話を聞くとその活発さは単なる見せかけだということが分かる。
				自分では何ひとつ選べないから、すべてを引き受けているだけなのだ。
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			<h3>選ぶことを選ぶ</h3>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-1 chapterText">
				あたなは「もうどうしようもない、なんの選択肢もない」と感じたことはあるだろうか？
				「できる」せいで、「やらなくては」が増えていくストレスを抱えていないだろうか？
				自分で選ぶことを少しずつ放棄して、いつのまにか誰かの言いなりになっていないだろうか？
			</div>
			<div class="col-sm-7 chapter_style-1 chapter_style-2  chapterText">
				選ぶことを忘れた人は、無力感にとらわれる。
				だんだん自分の意思がなくなり、他人の選択（あるいは、自分自身の過去の選択）を黙々と実行するだけになる。
				せっかくの選ぶ力を、すっかり手放してしまうのだ。
				これが非エッセンシャル思考の生き方である。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-1 chapterText">
				選ぶという行動を自分のものにしないかぎり、エッセンシャル思考は身につかない。
				私たちは長い間、選択の外的側面（どんな選択肢があるか）にばかり目を向けて、選択の内的側面（選ぶ力）を見過ごしてきた。この違いは重要だ。
				エッセンシャル思考を身につけるためには、選ぶという行為に自覚的でなくてはならない。
				選ぶ力は自分だけのものであり、何者にも奪えないということを理解しなくてはならない。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter-style-1 chapter_style-2 chapterText">
				エッセンシャル思考の人は、選ぶ力を無駄にしない。
				その価値を理解し、大切に実行する。
				選ぶ権利を手放すことは、他人に自分の人生を決めさせることだと知っているからだ。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・選ぶことを忘れ、無力感にとらわれている
				</p>
				<p class="learn-contents">
					・何をしても無駄だと思い込み、選択肢を手放してしまう
				</p>
				<p class="learn-contents">
					・選択肢を考えようとしない
				</p>
				<p class="learn-contents">
					・「やらなくては」が増えていくストレスを抱えている
				</p>
				<p class="learn-contents">
					・自分で選ぶことを少しずつ放棄して、いつの間にか誰かのいいなりになる
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・選ぶことの価値を理解し、大切に実行する
				</p>
				<p class="learn-contents">
					・選ぶことを手放すことは、他人に自分の人生を決めさせることだと知っている
				</p>
				<p class="learn-contents">
					・これをやろうと、自分で選びとる
				</p>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-5">
		<div class="row">
			<div class="col-lg-offset-1 col-xs-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-5">
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter1", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter3", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>