<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">第9章</span>
			<span class="chapter-title">Part2 選抜</span>
			<div class="point">
				もっと厳しい基準で決める。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			内的なプロセスは、外的な基準を必要としている。<br>
			ルートヴィヒ・ウィトゲンシュタイン(哲学者)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11 col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　デレク・シヴァーズとマーク・アダムス　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">絶対のイエス</span>
				<span class="number-title_english">Absolute Jesus</span>
				TEDの人気スピーカーであるシヴァーズは自身のブログで、「もっとわがままにノーを言おう」と主張している。
				中途半端なイエスをやめて、「絶対にやりたい！」か「やらない」かの2択にしようというのだ。<br>
				そのためのコツは、基準をとことん厳しくすること。
				「やろうかな」程度のことなら却下する。
				「イエス」というのは、絶対やるしかないと確信したときだけだ。
				「絶対にイエスだと言い切れないなら、それはすなわちノーである」。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">確信して選ぶ</span>
				<span class="number-title_english">Choose with confidence</span>
				シヴァーズは人材採用にしても、本気で圧倒された相手しか雇わない。
				できそうだな、という程度の人はすべて不採用にする。
				そうやって断り続けているうちに、やがて「これだ！」という人材がやってくる。<br>
				世界各地でのイベントの予定が入っていても、本気でわくわくしなければすべてキャンセルし、家でやりたいことをやっている。
				気乗りしないカンファレンスに出るより、その方が生産的だからだ。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">製品の基準</span>
				<span class="number-title_english">Product standards</span>
				イギリスの家具会社ヴィツゥの社長を務めるアダムスは、27年のあいだ厳しい基準を貫いてきた。季節ごとに色とスタイルを変えて新作を出し、大量の製品をつくる家具業界の中で、ヴィツゥではたった一つの製品しかつくらない。<br>
				それは非行に厳しい基準で製品を選んでいるからだ。その基準に叶う製品がほかにないなら、それを作り続けるだけだからである。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">人材の基準</span>
				<span class="number-title_english">Human resources standards</span>
				ヴィツゥの特筆すべきは製品の基準以上に厳格な、人材採用の基準だ。いまひとつの人間を雇うより、人が足りない方がいい。それが基本方針だ。だから人材採用のプロセスは、非常に厳格でシステマティック。<br>
				最初に電話で面接を行う。電話を使うのは、見た目の印象に左右されたくないからだ。これで会う手間も省き、多くの候補者を除外することができる。電話面接を通過した候補者は、社内の様々な人間と面接をする。何段階もの面接をクリアしたら、今度は1日体験入社。実際にチームに交じって働いたあとに社員にアンケートが配られる。そうしてお互いの相性を探り、もしもうまくいきそうなら、さらに何度かの面接を経て採用となる。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>05</h3>
				<span class="number-title">残った基準</span>
				<span class="number-title_english">Remaining criteria</span>
				ヴィツァの厳しい基準は、なんとなく感覚的に決まったわけではない。何がうまくいき、なにがそうでないかを、冷静に観察し続けた結果だ。<br>
				おもしろいところでは、子供の時にレゴブロックで熱心に遊んだ人ほど、ヴィツゥでうまくやっていけるという事実がわかっている。当てずっぽうで行っているわけではなく、長年あらゆる基準を考慮し続けてきた結果、大多数の基準は途中で消え、いくつかの基準だけが生き残ったのだ。
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			〜 〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-2">
				どうでもいいことを捨てられずにいると、本当に重要なことをする余裕がなくなってしまう。決断するための方法として「90点ルール」と取り入れるといい。<br>
				採点基準を一つ用意し、その基準に従って選択肢を100点満点で評価する。
				ただし90点未満の点数は、すべて0点と同じ。不合格だ。
				こうすれば、60点〜70点くらいの中途半端な選択肢に悩まされずにすむ。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				90点ルールは、トレードオフを強く意識させるやり方だ。
				厳しい基準を設ければ、必然的に、大多数の選択肢を容赦なく却下することになる。
				完璧な選択肢が現れることを信じて、かなり良い選択肢を切り捨てるのだ。<br>
				完璧な選択肢はすぐにやってくるかもしれないし、なかなか現れないかもしれない。
				だが、厳しい基準を設けるというその行為は、間違いなくあなたに自由を与えてくれる。
				他人や世の中や偶然に決められるのでなく、自分自身で選ぶ自由だ。
				「仕方なく」選ぶのでなく、「選びたいから」選ぶ自由だ。
			</div>
			<div class="col-sm-7 chapter_style-2">
				チャンスを正しく選別するには
				選択肢から何を選ぶか、というのも難しい問題だが、もっと難しいのは思わぬチャンスが転がってきたときだ。
				意外な方向からの転職の誘い。得意ではないが、金になるプロジェクトの話。給料は出ないが、以前からやりたいと思っていた企画。
				こんないい話は、今を逃したらもうないかもしれない。
				目の前に転がっているチャンスを逃すなんて、あまりにももったいない。
				だが、簡単に手に入るという理由でそれを選んでいいのだろうか？
				これを選んだせいで、数日後にやってくる理想的なチャンスにノーをいうことにならないだろうか？
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				突然舞い込んできたチャンスを正しく選別するためには3つのステップを踏むといい。<br>
				①そのチャンスについて記述する<br>
				②考慮するに値するチャンスの「最低条件」を3つ書き出す<br>
				③考慮するに値するチャンスの「理想の基準」を3つ書き出す<br>
				最低限のチャンスを満たしていないチャンスは、もちろん却下。そして、理想の基準を満たしていないチャンスも、やはり却下しよう。すべて満たしているものだけが、考慮に値するチャンスだ。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・何にでも「イエス」と言う
				</p>
				<p class="learn-contents">
					・「みんながやっているから」やる
				</p>
				<p class="learn-contents">
					・消極的な基準でものごとを選んでいる
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・上位10％にだけ「イエス」と言う
				</p>
				<p class="learn-contents">
					・「まさに自分の求めていたことだから」やる
				</p>
				<p class="learn-contents">
					・「やろうかな」程度のことなら却下する
				</p>
				<p class="learn-contents">
					・選択肢を検討するときは、つねに基準を設ける
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter8", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter10", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>