<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">第7章</span>
			<span class="chapter-title">Part2 遊び</span>
			<div class="point">
				内なる子供の声を聴く。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			賢い人はちょっとしたナンセンスを楽しむものだ。<br>
			-ロアルド・ダール(作家、脚本家)-
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11 col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　学校が創造性を殺す　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">否定的意見</span>
				<span class="number-title_english">Negative opinion</span>
				子供は、誰に教えられなくても遊びを覚える。いないいないばあを見て大喜びする赤ん坊。
				ごっこ遊びに夢中になる幼児。段ボール箱を積み重ねた秘密基地づくりに没頭し、「フロー」状態に入っている子供たち。<br>
				ところが大きくなると、私たちはだんだん遊びを忘れてしまう。
				「遊びなんてくだらない」「時間の無駄」「幼稚だ」という声に囲まれているからだ。
				そうした否定的な意見を植え付けるのは、遊びをもっとも必要とするはずの学校だ。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">ファストフード化</span>
				<span class="number-title_english">Fast food</span>
				現代の学校は、学びから楽しみを奪ってしまった。
				教育と創造性に関する研究で名高いケン・ロビンソンは、学校が創造性を殺す、と主張している。<br>
				「私たちは教育のファストフード化を容認してきました。その結果、まるでファストフードが体を蝕むように、
				教育が精神を弱らせることになってしまいました。あらゆる偉業は、想像力から生まれます。ところが現代の教育システムは、まさにその想像力を奪い続けているのです」。
				遊びはくだらない、という考え方は、大人になるとさらに強く刷り込まれる。
				あまりにも多くの会社が、遊びを殺してしまっている。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">遊びの影響</span>
				<span class="number-title_english">The influence of play</span>
				精神科医でナショナル・インスティチュート・フォー・プレイの創設者であるスチュアート・ブラウンは、
				6000人を対象に遊びと成長の調査をおこない、遊びが人間の様々な面に良い影響を及ぼすという結論を得た。
				遊ぶと体が健康になり、人間関係が改善され、頭がよくなり、イノベーションが起こしやすくなる。
				「遊びは脳の柔軟性と順応性を高め、創造的にしてくれます」「遊びほど脳を奮い立たせる行動は他にはありません」。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">遊びは本質的</span>
				<span class="number-title_english">Play is essential</span>
				遊びは、それ自体を目的にした行動だ。
				何かのためでなく、遊びたいから遊ぶ。
				どこにもたどり着かない行動は、一見無駄なようにも思える。しかし実は、そうした遊びこそ、人間にとって不可欠な行動なのだ。<br>
				遊んでいるとき、私たちは最も純粋な形で人間らしさを発揮し、自分らしさをさらけだす。
				最高の思い出や、「生きている」という実感をもたらしてくれるのは、遊んでいる時間だ。
				遊びは発想を豊かにしてくれる。新たなアイデアが生まれ、古いアイデアが新たな命を得る。
				好奇心が刺激され、未知のものを知りたいという意欲がわいてくる。
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			〜　『遊び』はエッセンシャル思考に不可欠　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-1">
				<h4>遊びは選択肢を広げてくれる。</h4>
					れまで気付かなかった可能性や、思いがけない繋がりに気づかせてくれる。
					遊ぶことで、私たちの視野が広がり、常識にとらわれないやり方が見えてくる。
			</div>
			<div class="col-sm-7 chapter_style-1">
				<h4>遊びはストレスを軽減してくれる。</h4>
					ストレスは生産性を下げ、好奇心や創造性の働きを弱める。
					仕事でストレスを感じたとたん、何もかもがうまくいかなくなるという経験は誰にでもあるだろう
			</div>
			<div class="col-sm-7 chapter_style-1 chapter_style-2">
				<h4>遊びは脳の高度な機能を活性化させる。</h4>
					精神科医のエドワード・M・ハロウェルによると
					「遊びは脳の実行機能に良い影響を与える。実行機能とは、計画、優先順位づけ、スケジューリング、予測、委譲、決断、分析など。つまりビジネスでの成功に不可欠なスキルの多くを含むものである」
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				遊びは本質を探究するのに役立つだけでなく、それ自体がどこまでも本質的である。
				仕事や生活に遊びを取り入れるためには、自分が楽しく遊んだ体験を思い返してみるといい。
				子供の頃、どんな遊びにわくわくしただろうか。どうすれば、そんな楽しさを再び体験できるだろうか？
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・遊びを軽視する
				</p>
				<p class="learn-contents">
					・遊びは時間の無駄だと考える
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・遊びを重視する
				</p>
				<p class="learn-contents">
					・遊びが不可欠だと知っている
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter6", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter8", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
	</div>
</div>