<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第4章　トレードオフ〜何かを選ぶことは何かを捨てること〜
		</h1>
		<p class="learn-explanation">
			「どうやったら両方できるか？」と考え、選びとるという考え方を忘れていないだろうか？<br>
			何かに「イエス」ということは、そのほか全てのことに「ノー」ということだ。<br>
			何かを選ぶことは、何かを捨てることである。
		</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・トレードオフが必要な状況で「どうすれば両方できるか？」と考える
				</p>
				<p class="learn-contents">
					・両方選びとり、中途半端になる
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・トレードオフが必要な状況で「どの問題を引き受けるか？」と考える
				</p>
				<p class="learn-contents">
					・自らトレードオフを選びとる
				</p>
				<p class="learn-contents">
					・「何を諦めなくてはならないか？」と考える代わりに、「何に全力を注ごうか？」と考える
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>