<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第11章　拒否〜断固として上手に断る〜
		</h1>
		<p class="headline-explanation">
			自分が「正しい」と思うことと、誰かが「やれ」と言うことが、食い違っていた経験はないだろうか？<br>
			他人からのプレッシャーに負けず、キッパリと上手に断ることは、エッセンシャル思考に必須のスキルである。<br>
			断るためには、勇気が必要だ。切り捨てる勇気がなければ「より少なく」という言葉は空疎なお題目になってしまう。
		</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・周囲の期待とプレッシャーに負けてイエスと言う
				</p>
				<p class="learn-contents">
					・なんでも引き受ける
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・きっぱりと上手にノーと言う
				</p>
				<p class="learn-contents">
					・本当に重要なことしか引き受けない
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-10 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter10", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter12", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
	</div>
</div>