<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">第19章</span>
			<span class="chapter-title">Part4 集中</span>
			<div class="point">
				「今、何が重要か」を考える。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			今はこの瞬間にある。今この瞬間をないがしろにする人は、<br>
			日々を十分に生きることができない。<br>
			ティック・ナット・ハン(禅僧)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11 col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　ラリー・ゲルウィクスの事例　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">圧倒的結果</span>
				<span class="number-title_english">Overwhelming results</span>
				ラリー・ゲルウィクスは、ハイランド高校のラグビー部コーチだ。就任してからの勝敗は、418勝10敗で、同部を36年間で20回の全国優勝へと導いてきた。<br>
				「われわれはつねに勝つ」と彼は言う。
				圧倒的な結果を出しているのだから、もっともな言葉だ。
				だが、彼が言っているのは、試合のことだけではない。
				彼の言う「勝つ（win）」とは、チーム全員がつねに考えるべき問いの頭文字でもある。
				「今、何が重要か（What’s Important Now?)」という問いだ。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">今ここに集中</span>
				<span class="number-title_english">Concentrate here nows</span>
				ラリーは選手たちに、今ここに集中しろと説く。
				明日の練習や来週の試合はどうでもいい。「今、何が重要か」を考えるのだ。
				彼らの強さの秘訣は、その集中力にある。試合中、選手たちはつねに「今、何が重要か」だけを考えている。
				前回の失敗を思い出したり、試合の展開を常に不安に思ったりしない。そんな考えは無駄でしかないからだ。
				さらに「今、何が重要か」という問いは、自分たちのプレイに集中するきっかけとなる。
				相手のプレイを気にしていては勝てないとラリーは言う。相手のやり方に呑まれてしまうからだ。
				知らず知らずに集中力を失い、チームがバラバラになる。
				今ここに集中し、自分たちの動きだけを意識することによって、チーム全体の気持ちがひとつになる。
				そのまとまりが、スムーズな試合展開を可能にするのだ。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">勝敗の本質</span>
				<span class="number-title_english">The essence of victory or defeat</span>
				ラリーは勝敗について、実に本質的な考え方をする。
				「負けることと、打ち負かされることは違う」と彼は選手たちに言う。
				打ち負かされるのは、相手が強いからだ。スピードやパワーや才能の問題だ。
				だが、単に「負ける」と言うのは、自分に負けることだと彼は言う。
				集中力を失い、本質を見失ったときに負けるのだ。
				最高の力を発揮するためには、「今、この瞬間」だけを意識しなくてはならない。
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			〜 〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-2">
				過去の失敗について、くよくよ思い悩んでしまうことは誰にでもあるだろう。
				忘れたいのに、何度も何度もその場合を再生してしまう。
				あるいはこの先起こることについて、心配したり考えすぎたりすることもあるだろう。
				考えてもどうにもならないことはわかっているのに、やはり不安で頭から離れない。
				来週の会議、次のプロジェクト、この先の人生。目の前にないものばかりが頭につきまとう。
				過去の失敗や未来への不安にとらわれるのは、人としてごく自然なことだ。
				ただし、過去や未来のことを考えるたびに、目の前の大事なことが疎かになるという事実も忘れてはならない。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				古代ギリシャには、時間を表す言葉が2種類あった。「クロノス」と「カイロス」だ。クロノスは時計の針の動きそのままの時間を意味している。私たちが普段使っている時間だ。一方、「カイロス」はちょっと違った時間の性質を意味している。言葉で説明するのは難しいが、「いま」と感じるタイミングのようなものを指す。クロノスが量の問題であるのに対し、カイロスは質の問題だ。カイロスを感じることができるのは、今この瞬間を生きているときだけである。<br>
				考えてみると意外だが、そもそも私たちには「今」しかない。未来や過去は想像の中にあるだけで、けっして触れられない。
				私たちの行動が何かの力を持つのは、今ここにおいてだけである。
			</div>
			<div class="col-sm-7 chapter_style-2">
				非エッセンシャル思考の人は、過去や未来に気をとられるあまり、今を生きることを忘れている。
				いつも心ここにあらずの状態で、目の前のことに集中できない。<br>
				エッセンシャル思考の人は、今ここに集中する。クロノスよりもカイロスを生きる。
				昨日や明日ではなく、今この瞬間に何が大事かを考えるのだ。<br>
				<br>
				マルチタスクの弊害、ということがよく言われる。
				だが、複数のことを並行して行うのは難しくない。
				問題は、人は一度にひとつのことにしか「集中」できないということだ。
				複数のことをやるのはかまわない。しかし集中の対象がどれなのかは、はっきりさせておく必要がある。
				エッセンシャル思考の敵はマルチタスクではなく、焦点を複数に合わせようとすること、すなわちマルチフォーカスなのだ。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・過去と未来に引き裂かれている
				</p>
				<p class="learn-contents">
					・昨日や明日の問題について考える
				</p>
				<p class="learn-contents">
					・未来への不安や過去の失敗を思い悩む
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・現在に集中している
				</p>
				<p class="learn-contents">
					・目の前の問題を考える
				</p>
				<p class="learn-contents">
					・今を楽しむ
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter18", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter20", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>