<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第3章　ノイズ〜大多数のものは無価値である〜
		</h1>
		<p class="learn-explanation">
			「全部やらなくては」という思考に捉われていないだろうか？<br>
			良いチャンスがあると、なんでも飛びついてないだろうか？<br>
			多数の良いチャンスは、少数のものすごくい良いチャンスに遠く及ばない。
		</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・大多数のものごとが大切だと思い込む
				</p>
				<p class="learn-contents">
					・「全部やらなくては」という思考から抜け出せない
				</p>
				<p class="learn-contents">
					・なんでも根性だけで乗り切ろうとする
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・大多数のものごとが不要だと考える
				</p>
				<p class="learn-contents">
					・たっぷりと時間をかけて選択肢を検討する
				</p>
				<p class="learn-contents">
					・やるべきことを正しく選ぶことで、その見返りが大きいことを知っている
				</p>
				<p class="learn-contents">
					・多くのことをやらなくて済むように、多くを吟味する
				</p>
				<p class="learn-contents">
					・本質的な少数のものだけを選び取り、その他多くのチャンスを捨てる
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>