<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第12章　キャンセル〜過去の損失を切り捨てる〜
		</h1>
		<p class="headline-explanation">
			何の成果も出ていないことがお金と時間を費やしたことで、損切りできずいつまでも投資し続けたことはないだろうか？<br>
			非エッセンシャル思考は、こうした悪循環にはまり込む。<br>
			エッセンシャル思考は、勇敢に自分の過ちを認め、駄目な行動をすっぱりと切り捨てる。
		</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・「こんなにお金をかけたのに、今さらやめられない」
				</p>
				<p class="learn-contents">
					・「やり続ければ、いつか報われるはずだ」
				</p>
				<p class="learn-contents">
					・失敗を認めたくない
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・もしもまだ1円も払っていないとしたら、今からこの企画に投資するだろうか？」
				</p>
				<p class="learn-contents">
					・今これをやめたら、何に時間とお金を使えるだろうか？
				</p>
				<p class="learn-contents">
					・進んで損切りをする
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-10 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter11", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter13", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
	</div>
</div>