<div class="row space_top">
	<div class="col-xs-offset-1 col-xs-11">
		<div class="col-xs-12 chapter-headline">
			<span class="chapter-number">第20章</span>
			<span class="chapter-title">Part4 未来</span>
			<div class="point">
				エッセンシャル思考を生きる。
			</div>
		</div>
		<div class="col-xs-12 quotations">
			多忙な生活の不毛さに気をつけよ。<br>
			ソクラテス(哲学者)
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-11 col-xs-offset-1 case-study-box">
		<div class="study-title">〜　マハトマ・ガンジーの事例　〜</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>01</h3>
				<span class="number-title">弁護士になる</span>
				<span class="number-title_english">Become a lawyer</span>
				<div class="sentence">
					すべての始まりは、ガンジーがイギリスで弁護士になる勉強をしていたときのことだった。暮らしは裕福で、学業も順調。未来は明るくひらけていた。
					毎朝目を覚ますと、確かな自信を感じた。自分のやるべきことは分かっていた。
					法廷弁護士の資格をとり、快適な暮らしを手に入れるのだ。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>02</h3>
				<span class="number-title">自分の使命</span>
				<span class="number-title_english">My mission</span>
				<div class="sentence">
					そんなある日、旅に出て色々な世界を見てみることにした。この旅が、すべてを変えた。<br>
					ガンジーは南アフリカで、弾圧されている人々を見た。彼はその瞬間、世界からそうした抑圧をなくすことが自分の使命であると確信した。
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>03</h3>
				<span class="number-title">全てを捨てる</span>
				<span class="number-title_english">Throw everything away</span>
				<div class="sentence">
					ガンジーは新たな目標に向かうため、それ以外の生活の全てを捨てた。
					「自分をゼロにするプロセス」である。
					カディという手織りの布に身を包み、人々にも自給可能なカディを広めた。
					3年間は新聞などのよけいな情報を一切遮断した。
					そして35年間、粗食を追求し続けた。
					週に一度は誰とも話さずに過ごした。
					質素さを徹底した暮らしだった。
					亡くなった時の所持品は、10個にも満たなかったそうだ。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>04</h3>
				<span class="number-title">生涯の結果</span>
				<span class="number-title_english">The result of a lifetime</span>
				<div class="sentence">
					ガンジーはその生涯を、インドの人々の独立のために捧げた。
					政治に手を出すことはなかったが、「インド独立の父」として広く尊敬されている。
					彼の功績はインド国内に留まらず、世界中に影響を与えた。<br>
					ガンジーに人生が偉大なものであったことには疑いの余地がない。
					彼はどこまでもエッセンシャル思考の人だった。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<div class="row">
	<div class="col-xs-offset-1 col-xs-11 explanation-box">
		<div class="ex-title">〜　本質を生きる方法　〜</div>
		<div class="">
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">エッセンシャル思考の実践</span>には、2つの方法がある。
					ひとつは、生活のあちこちに取り入れる方法。
					そしてもうひとつは、エッセンシャル思考を生きるという方法だ。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">前者は</span>忙しい日々にまた別のスキルを付け加えるにすぎないが、後者は違う。
					エッセンシャル思考を生き方の基本に据え、何をするにもそこから考える。
					エッセンシャル思考が、自分という人間の核になるのだ。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">非エッセンシャル思考</span>の人がときどきエッセンシャル思考の行動をとることはあるし、
					逆にエッセンシャル思考の人がうっかり非エッセンシャル思考の行動をとってしまうこともある。
				</div>
			<div class="ex-text">
					<span class="ex-textLarge">誰の中にも</span>、エッセンシャル思考と非エッセンシャル思考は共存している。
					問題は、どちらがメインなのかとういことだ。
					自分という人間は、エッセンシャル思考の人なのだろうか、それとも非エッセンシャル思考の人だろうか？
				</div>
			</div>
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">エッセンシャル思考の目的</span>は、世間的な成功を手に入れることではない。
					人生に意味と目的を見出し、本当に重要なことを成し遂げることだ。
					将来の人生を振り帰ったとき、どこにでもありそうな達成リストが並んでいるよりは、自分にとって本当に意味のあることをひとつ達成したとき確信できるほうがいい。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">エッセンシャル思考を身につけ</span>
					、あらゆる場面でそれを生きることができれば、世界はこれまでとは違って見えてくる。
					エッセンシャル思考を自分の血肉とし、本能のように使いこなそう。
					考え方が心の底までしみこんだとき、それは自分を内側から変える力となる。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">エッセンシャル思考を生きる人</span>は、周囲の人と同化しない。<br>
					・人がイエスと言う時、あなたはノーと言う。<br>
					・人が行動する時、あなたは考える。<br>
					・人がしゃべるとき、あなたは耳を傾ける。<br>
					・人がスポットライトを浴びようと押し合う時、<br>
					　あなたは陰に立ってしかるべき時期を待っている。<br>
					・人が見栄えのいい履歴書をでっちあげて<br>
					　インターネットのプロフィールを派手な言葉で飾る時、<br>
					　あなたは地道に仕事の力をつけている。<br>
					・人が忙しいと不満（＝自慢）を言う時、あなたは控えめにただ微笑んでいる。<br>
					・人がストレスとカオスの渦中にいるとき、<br>
					　あなたは豊かで充実した暮らしを送っている。<br>
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">
					この情報と雑音とストレスと虚栄</span>に満ちた世の中にあって、エッセンシャル思考を生きることは、静かな革命である。
				</div>
			</div>
			<div class="col-xs-7 margin_style-2 chapterText ex-textBox ex-right">
				<div class="ex-text margin_style-1">
					<span class="ex-textLarge">エッセンシャル思考を生きる</span>のは、そう簡単なことではない。
					人に何かを頼まれれば力になりたいと思うし、良いチャンスに巡り合えば「忙しいけれど両立できるんじゃないか」とつい思ったりする。
					何度も何度も携帯電話をチェックしようとしている自分に気づく。
					エッセンシャル思考を完全に身につけるには、根気と努力が必要だ。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">大切なのは「選ぶ」ということ</span>
					だ。
					周囲に流されず、自分自身の選択をする。それは実に自由な体験だ。
					シンプルな人生は幸福である。
					エッセンシャル思考を身につけるのには、それなりの時間がかかる。
					だがいったん身につければ、その恩恵は一生のものだ。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<%= render partial: 'memo-area' %>

<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-1" id="memoBtn">
			<div class="toggle-btn">
				<input type="checkbox" class="cb-value" />
				<span class="round-btn"></span>
			</div>
		</div>
		<%= render partial: 'memo-btn', locals: {memo: @memo, chapter_num: 20} %>
	</div>
<% end %>


<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bar">
		<div>
			<%= link_to "前章", "/learns/chapter19", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>