<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">第12章</span>
			<span class="chapter-title">Part3 キャンセル</span>
			<div class="point">
				過去の損失を切り捨てる。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			この世のトラブルの半分は、イエスを言うのを焦りすぎ、ノーを言うのを渋りすぎることからくる。<br>
			ジョシュ・ピリングス(作家)
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11 col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　コンコルドとスキーツアー　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">最速の旅客機</span>
				<span class="number-title_english">Fastest airliner</span>
				超音速旅客機のコンコルドは、航空工学における偉大な到達点だった。ロンドンからニューヨークまで2時間52分という驚異的な速さを誇り(従来の旅客機の半分以下の時間)、世界最速の旅客機の座に君臨した。<br>
				ところが、商業的には稀に見る大失敗だった。もちろん、優れているのに売れなかったアイデアやイノベーションは少なくない。だがコンコルドの場合、なんと30年も赤字を垂れ流してしたのだ。赤字はフランスとイギリスの政府によって補填され、その額はどんどん膨らんでいった。投資額を回収できる見込みはゼロに近かったが、両政府は予算を注ぎ続けた。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">埋没費用</span>
				<span class="number-title_english">Sunk cost</span>
				座席数は少ないし、機体の受注がほとんどない。その一方で、製造には莫大な金が掛かっている。どう考えても、利益が出るわけなかった。のちにイギリス政府の資料が公開されたが、30年前の官僚たちも「けっして健全な経済的根拠にもとづかない」投資であることを認識していたらしい。<br>
				なぜ、英仏両国の優秀な政治家たちが採算の合わない投資をだらだらと続けたのだろうか？理由のひとつは「サンクコスト(埋没費用)」に対する心理的バイアスにある。すでにお金や時間を支払ってしまったという理由だけで、損な取引に手を出し続ける心理傾向のことだ。コンコルドの開発・製造に費やされたサンクコストは、およそ10億ドル。投資額が膨らみすぎて、両国はもはや後に引きなくなってしまったのだ。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">2つのツアー</span>
				<span class="number-title_english">Two tours</span>
				こんな例え話がある。「あたながミシガン州へのスキーツアーへのチケットを、100ドルで購入したとしましょう。それから数週間後に、ウィスコンシン州へのスキーツアーのチケットを50ドルで購入したとします。スキー場としてはウィスコンシンの方がずっと魅力的です。ところが、後で気づいたのですが、2つのツアーは日程が重なっていました。もう払い戻しはできないし、売るのにも遅すぎます。どちらかを選ばなければなりません」。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">さらなる無駄</span>
				<span class="number-title_english">Further waste</span>
				この話をした後で「あなたならどちらを選びますか？」と訪ねたところ、約半数の人が高いお金を払ったミシガンのツアーを選んだ。ウィスコンシンの方が楽しめるとわかっているのに、である。安い方を選んでしまったら、無駄がより大きくなると考えたのだ。<br>
				高いお金を出してしまったのだから、使わなければもったいないと思うのは自然なことだ。だがその気持ちに流されると、すでに支払った無駄だけでなく、さらなる無駄を生むことになる。
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			〜 〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-2">
				あなたも、何の意味もないと分かっているプロジェクトに、
				時間やお金を費やし続けていないだろうか？
				損切りができず、いつまでも無駄な投資を続けていないだろうか？<br>
				非エッセンシャル思考の人は、こうした悪純化にはまり込みやすい。
				エッセンシャル思考の人は、勇敢にに自分の過ちを認め、悪循環を抜け出すことができる。
				サンクスコストにとらわれず、駄目な行動をすっぱりと切り捨てるのだ。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2">
				途中でやめることはなぜ難しいのか？サンクコストの他に「授かり効果」という心理的バイアスもある。
				所有とういう概念は、人の心に大きく影響する。
				わざわざ買おうと思わないようなものでも、いったん所有してしまうと失うのが怖くなる。
				これが「授かり効果」だ。<br><br>
				ノーベル賞を受賞した心理学者ダニエル・カーネマンの実験の面白いものがある。ランダムに選んだ被験者の半数にマグカップを与え、残り半分には与えなかった。マグカップをもらったグループに「いくら払ってもらえばそのマグカップを手放すか？」という質問をした。反対のグループには「そのマグカップを手に入れるのにいくら払うか？」という質問をした。<br>
				その結果、マグカップを持っているグループの答えが最低でも5ドル25セントだったのに対し、マグカップを持っていなかったグループの答えは2ドル25セント〜2ドル75セントにとどまった。所有しているという理由だけで、何の変哲もないマグカップが3ドル分も高く感じられたのだ。<br><br>
				自分の生活を振り返ってみても、いざ手放すとなると価値が高く感じられるものがるのではないだろうか？
				たとえば、何年も読んでない本。箱に入ったままの食器。誰かにもらって一度も袖を通していない服。
				何の役に立つわけでもないのに、所有していると言う理由だけで、失うのがもったいないと感じる。
				まだ持っていないとしたら、わざわざ買わないはずなのに。
			</div>
			<div class="col-sm-7 chapter_style-2">
				また、いつもやっているからという理由だけでやめられない傾向を「現状維持バイアス」と呼ぶ。
				当たり前のようにそこにあるものを、人は無条件に受け入れがちだ。
				このバイアスから自由になるためには、『ゼロベース』というテクニックを使おう。<br><br>
				たとえば、今の時間の使い方をいったん忘れて、何も予定のない状態にする。
				そして、今日やるべきことをゼロから考えてみるのだ。
				これはお金の使い方や人間関係など、あらゆることに応用できる。
				まっさらな状態から、時間やお金やエネルギーの使い方をあらためて考えてみよう。
				ただ惰性で続けていることは、すでにやめるべきだ。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・「こんなにお金をかけたのに、今さらやめられない」
				</p>
				<p class="learn-contents">
					・「やり続ければ、いつか報われるはずだ」
				</p>
				<p class="learn-contents">
					・失敗を認めたくない
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・もしもまだ1円も払っていないとしたら、今からこの企画に投資するだろうか？」
				</p>
				<p class="learn-contents">
					・今これをやめたら、何に時間とお金を使えるだろうか？
				</p>
				<p class="learn-contents">
					・進んで損切りをする
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter11", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter13", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
	</div>
</div>