<div class="row space_top">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">第5章</span>
			<span class="chapter-title">Part2 孤独</span>
			<div class="point">
				考えるためのスペースをつくる。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			深い孤独がなければ、まともな作品はつくれない<br>
			-パブロ・ピカソ-
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11 col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　フランク・オブライエンの事例　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">集中セッション</span>
				<span class="number-title_english">Intensive session</span>
				彼の創業したマーケティング会社「カンバセーション」は、ビジネス誌『インク』の選ぶ「アメリカでもっとも急成長をとげた民間企業」にランクインした。<br>
				カンバセーションは慌ただしい世の中に対抗し、おもしろい取り組みを行っている。
				月に一度、オブライエンは50名の社員全員を会議室に集め、丸一日の集中セッションを実施する。
				電話は禁止。メールも禁止。特に決まった予定表はない。セッションの目的は、じっくりと考え、話し合うことだ。
				これを月初めの月曜日、いちばん気持ちの引き締まる時期にやるのだ。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">考える時間</span>
				<span class="number-title_english">Time to think</span>
				なぜそんなことをするのかというと、落ち着いて考える時間が必要だからだ。
				常に電話を待っていたら、まともにものが考えられない。ときどき窓口を閉ざして、何が本当に重要なのかを検討しなくてはならない。<br>
				さらにオブライエンは、このセッションが仕事の質のバロメーターになると考えている。
				「もしも『忙しすぎてセッションに出られない』と言う人がいたら、それは無駄な仕事が多すぎるんです。あるいは本当に、もっと人を雇うべきか。どちらか」
				忙しすぎて考える時間がないなら、それは仕事が多すぎる。シンプルな理屈だ。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">余白は与えられない</span>
				<span class="number-title_english">No margin is givens</span>
				多数の瑣末なことのなかから少数の重要なことを見分けるためには、誰にも邪魔されない時間が必要不可欠だ。
				ただし、この忙しい世の中で、そんな余裕が自然に生まれるわけがない。
				あえて時間をとらなければ、誰も考える余裕など与えてくれない。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">選択肢を検討する時間</span>
				<span class="number-title_english">Time to consider options</span>
				何事も、まず選択肢を調べないことには、本質を見極めることはできない。
				非エッセンシャル思考の人は、とにかく目の前のことに反応する。
				聞いたばかりのチャンスに飛びつき、読んだばかりのメールに返信する。
				だが、エッセンシャル思考の人は、すぐに飛びついたりしない。
				調査と検討にたっぷり時間をかけることを選ぶ。
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-2 chapterText">
				考えるためには集中することが重要だが、集中は向こうからやってくるものではない。
				だから、集中せざるを得ない状況に自ら飛び込んでいくことが必要だ。
				集中するためには、集中せざるを得ない状況に自分を置くしかない。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-2 chapterText">
				集中とは、単にひとつの問題を考えつづけることではない。
				エッセンシャル思考における集中は、100の問題をじっくり検討できるだけのスペースを確保することだ。
				それは目の焦点を合わせる作業に似ている。ひとつのものに固執でず、つねに視野全体を把握して焦点を調整する。
			</div>
			<div class="col-sm-7 chapter_style-2 chapterText">
				仕事が忙しくなればなるほど、考える時間を確保することが必要になっていく。
				生活がノイズに満ちてくればくるほど、静かに集中するスペースが必要になってくる。
				どんなに忙しい人でも、考える時間を作ることは不可能ではない。
				まとまった時間を作るのが難しければ、日々のなかに小さな「考える時間」を差し込んでみるといい。
				1日に1時間でも、1年に2週間でも、あるいは毎朝5分でもいい。
				忙しい日常から離れ、自分だけでいられる時間を確保しよう。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・忙しくて、考える余裕がない
				</p>
				<p class="learn-contents">
					・とにかく目の前のことに飛びつく
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・考えるための余裕を作り出す
				</p>
				<p class="learn-contents">
					・集中せざるを得ない環境に自分をおく
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter4", class:"btn btn-default col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter6", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>