<div class="row">
	<div class="col-md-offset-1 col-lg-10">
		<h1 class="learn-headline">
			第2章　選択〜選ぶ力を取り戻す〜
		</h1>
		<p class="learn-explanation">
			どのような選択肢があるか（選択の外的側面）にばかり目を向けて、<br>
			選ぶ能力（選択の内的側面）を見過ごしていないだろうか？<br>
			選択とは行動である。与えられるものではなく、つかみとるものである。<br>
			「選ぶ」ことを選ぶ。「選ぶ」という行為に自覚的でなければならない。
		</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・選ぶことを忘れ、無力感にとらわれている
				</p>
				<p class="learn-contents">
					・何をしても無駄だと思い込み、選択肢を手放してしまう
				</p>
				<p class="learn-contents">
					・選択肢を考えようとしない
				</p>
				<p class="learn-contents">
					・「やらなくては」が増えていくストレスを抱えている
				</p>
				<p class="learn-contents">
					・自分で選ぶことを少しずつ放棄して、いつの間にか誰かのいいなりになる
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・選ぶことの価値を理解し、大切に実行する
				</p>
				<p class="learn-contents">
					・選ぶことを手放すことは、他人に自分の人生を決めさせることだと知っている
				</p>
				<p class="learn-contents">
					・これをやろうと、自分で選びとる
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div>