<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 chapter-headline">
			<span class="chapter-number">Part1 第4章</span>
			<span class="chapter-title">トレードオフ</span>
			<div class="point">
				何かを『選ぶ』ことは、何かを『捨てる』こと。
			</div>
		</div>
		<div class="col-sm-12 quotations">
			戦略には選択とトレードオフがつきものだ。<br>
			独自性を意図的に選びとるのである。<br>
			-マイケル・ポータ(経営学者)-
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-11 col-sm-offset-1 chapter_text-box">
		<div class="col-sm-12 case-study">
			〜　コンチネンタル空港の事例　〜
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>01</h3>
				<span class="number-title">サウスウエスト空港</span>
				<span class="number-title_english">Southwest Airlines</span>
				利益を出すのが難しいと言われる航空業界にあって、サウスウエスト航空は毎年目覚ましい業績を上げつづけた。
				その秘密は、創業者ハーバート・ケレハーのエッセンシャル思考にあった。<br>
				大手航空会社がハブ空港を拠点に路線を拡大する中で、サウスウエスト航空はあえて2都市間を単純に繋ぐ「ポイント・テゥ・ポイント」路線にこだわった。
				凝った機内食で高い料金をとる代わりに、機内食を出さないことを選んだ。座席指定も廃止して、好きな席に座れるようにした。至れり尽くせりのサービスで価格を釣り上げるより、単純に乗り物として使ってもらうことにしたのだ。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>02</h3>
				<span class="number-title">不要を切り捨てる</span>
				<span class="number-title_english">Truncate unnecessary</span>
				これらのトレードオフは、コストダウンという戦略に沿って厳密に選ばれたものである。
				もちろん、捨てることにはリスクもあった。
				多様な行き先を望む客が離れていくだろうし、高くてもおいしい機内食が食べたいとうい人もいるだろう。
				それでも、ケレハーは明確なビジョンを持ち、不要なものを切り捨てた。サウスウエスト航空は、格安航空会社、それ以外の何者でもない。金のかかるオプションは、この会社の本室から外れている。<br>
				ケレハーはさらに、こう語っている。
				「あらゆる選択肢を見た上で、こう言わなくてはならない。『お断りします。うちの目指す目的に貢献しないことをいくらやっても意味がないんです』と。
			</div>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 chapter_text-item">
				<h3>03</h3>
				<span class="number-title">相容れない戦略</span>
				<span class="number-title_english">Conflicting strategies</span>
				競合会社のひとつに、コンチネンタル空港があった。
				コンチネンタル航空はサウスウエスト航空を見習い、ポイント・トゥ・ポイント型の「コンチネンタル・ライト」というサービスを開始した。
				コンチネンタル・ライトは運賃を抑え、機内食や手厚いサービスを廃止。サウスウエスト航空と同じように1日の発着回数を多くした。
				ところが、従来の通常路線と並行しておこなっていたために、おもったほどコストが削減できない。
				結局、厳しい価格競争のなかで、サービス品質がずるずると低下することになった。<br>
				サウスウエスト航空が意図的にトレードオフを選んだのに対して、コンチネンタル航空は場当たり的にあれこれ試しただけだった。
				著名な経営学者マイケル・ポーターによると「戦略的ポジションは、別のポジションとのトレードオフなしには維持できない」
				要するにコンチネンタル航空は、2つの相入れない戦略を両立させようとしたせいで、競争力を失ってしまった。
			</div>
			<div class="col-sm-6 chapter_text-item">
				<h3>04</h3>
				<span class="number-title">見えてくる教訓</span>
				<span class="number-title_english">Lessons to be seen</span>
				この教訓は企業だけでなく、個人にも当てはまる。
				トレードオフが見えていない人が周りにいないだろうか？
				大事なプロジェクトの締め切りと同じ日に、面倒な報告書を引き受けてしまう人。
				上司にご飯に誘われて、家族との約束があるのに「行く」と言ってしまう人。<br>
				彼らにはトレードオフが見えていない。すべて同時にできると思っている。
				だが現実には、大きな締め切りが重なれば、すくなくとも一方が遅れる。ご飯の誘いと家族との約束が重なれば、どちらかを諦めるしかない。
				何かにイエスということは、その他すべてに「ノー」と言うことなのだ。
				何かを選ぶことは何かを捨てること。
				この現実を受け入れられない人は、コンチネンタル航空と同じ運命を辿る。中途半端に片足ずつ突っ込んで、あれもこれも失うことになるのだ。
			</div>
		</div>
	</div>
	<div class="col-sm-offset-1 col-sm-11 border-line"></div>
</div>

<div class="row">
	<div class="col-sm-offset-1 col-sm-11">
		<div class="col-sm-12 case-study">
			<h3>重要な少数派は多数の瑣末に勝る</h3>
		</div>
		<div class="col-sm-12">
			<div class="col-sm-7 chapter_style-1">
				トレードオフを考えたくない気持ちはよくわかる。
				そもそもトレードオフが起こるのは、どちらも捨てがたいような状況だ。
				高い給料か、長い休暇か。急ぎのメールに返信するのか、大事な会議に出席するのか。
				どちらも望むことなのだから、どちらにも「イエス」と言いたくなる。しかし、それは不可能だ。
			</div>
			<div class="col-sm-7 chapter_style-1 chapter_style-2">
				非エッセンシャル思考の人は、トレードオフが必要な状況で「どうすれば両方できるか？」と考える。
				だがエッセンシャル思考の人は、「どの問題を引き受けるか？」と考える。
				これはタフな問いであると同時に、より大きな自由につながる問いだ。
			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-1">
				トレードオフは痛みを伴うが、絶好のチャンスである。
				選択肢を比較検討する過程で、自分の本当の望みを明確に知ることができるからだ。
				サウスウエスト航空のように一貫した選択ができれば、その結果は理想的な成功となって帰ってくる。

			</div>
			<div class="col-sm-offset-5 col-sm-7 chapter_style-1 chapter_style-2">
				エッセンシャル思考の人は、トレードオフを当たり前の現実として受け入れる。
				そんなものなければいいのに、とは考えない。
				「何をあきらめなくてはならないか？」と問う代わりに、「何に全力を注ごうか？」と考える。
				小さな違いだが、積み重なると人生に大きな差がついてくる。
			</div>
			<div class="col-sm-7 chapter_style-2">
				4つ口のガスコンロを想像してください。1つ目のコンロは、あたなの家族。2つ目のコンロは、友人。3つ目は健康。4つ目は仕事。
				成功するためには、そのうちのひとつの火を消さなくてはいけない。そして、もっと成功するには、思い切って2つ消すことが必要です。
				もちろん、これは単なるジョークで、エッセンシャル思考は成功するためにこれらを犠牲にするやり方ではない。
				しかし、この問いが真実をついていることも事実だ。それらの利害が衝突したとき、私たちは問わなければならない。「自分はどの問題を引き受けるのか？」と。
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-contents">
				<h2>非エッセンシャル思考</h2>
				<p class="learn-contents">
					・トレードオフが必要な状況で「どうすれば両方できるか？」と考える
				</p>
				<p class="learn-contents">
					・両方選びとり、中途半端になる
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-contents">
				<h2>エッセンシャル思考</h2>
				<p class="learn-contents">
					・トレードオフが必要な状況で「どの問題を引き受けるか？」と考える
				</p>
				<p class="learn-contents">
					・自らトレードオフを選びとる
				</p>
				<p class="learn-contents">
					・「何を諦めなくてはならないか？」と考える代わりに、「何に全力を注ごうか？」と考える
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 non_essential-memo">
				<div>非エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5">
		<div class="row">
			<div class="col-lg-offset-1 col-lg-10 essential-memo">
				<div>エッセンシャル思考メモ蘭<br>
					（自身の経験など振り返り思ったことなど、何でも残しておけます）
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bottom">
		<div>
			<%= link_to "前章", "/learns/chapter3", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter5", class:"btn btn-default col-xs-offset-2 col-xs-2" %>
		</div>
	</div>
</div>