<div class="row space_top">
	<div class="col-xs-11 col-xs-offset-1">
		<div class="col-xs-12 chapter-headline">
			<span class="chapter-number">第1章</span>
			<span class="chapter-title">Part1 エッセンシャル思考</span>
			<div class="point">
				『より少なく、しかしより良く』
			</div>
		</div>
		<div class="col-xs-12 quotations">
			賢く生きる者は、不要なものを排する。<br>
			-林語堂(作家、思想家)-
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-11  col-xs-offset-1 case-study-box">
		<div class="study-title">
			〜　サム・エリオットの事例　〜
		</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>01</h3>
				<span class="number-title">仕事の悩み</span>
				<span class="number-title_english">Work warring</span>
				<div class="sentence">
					サム・エリオットは、ある悩みを抱えていた。
					自分たちの会社が企業傘下になってからというもの、
					仕事にやりがいを感じられなくなっていた。<br>
					新しい組織で身を粉にし働き、無茶なスケージュールも「やります」と答え、
					やりきれない量の仕事を抱える日々。
					徐々にストレスは溜まり、仕事の質は落ちていった。
					瑣末な仕事に追われるばかりで、何の成果も見えてこない。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>02</h3>
				<span class="number-title">相談</span>
				<span class="number-title_english">Consultation</span>
				<div class="sentence">
					そんなある日、会社から早期退職のプランの説明会があった。
					彼はまだ50代になったばかりで、リタイアするには早かったが、疲れているのも事実だった。
					そこで、信頼している先輩にどうするべきか相談しに行った。<br>
					するとこうを言われた。「今の会社で、コンサルティングの仕事だけやっていればいい。うまくやれば大丈夫だ」。<br>
					つまり、『自分にとって本質的な仕事だけをやれ』と。
					それ以外の仕事はすべて無視しろと。
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>03</h3>
				<span class="number-title">仕事を減らす決断</span>
				<span class="number-title_english">Decision to reduce work</span>
				<div class="sentence">
					エリオットはアドバイスに従ってみることにした。
					翌日からは仕事を減らすことに専念した。つまり、仕事を「断る」ことを始めたのだ。<br>
					最初は断ることに恐る恐るだったが、依頼を受ける基準を厳しくし、
					「この仕事は、今自分がやれることのなかで一番重要か？」と問う。
					そして、「一番重要だ！と言い切れる仕事しか受けないことにした。
				</div>
			</div>
			<div class="col-sm-6 study-item">
				<h3>04</h3>
				<span class="number-title">変化</span>
				<span class="number-title_english">Change</span>
				<div class="sentence">周囲の人たちは最初残念そうな顔をしていたが、すぐに受け入れてくれた。
					それどころか、以前にもまして彼に信頼をよせてくれるようになった。<br>
					本当に重要なことだけをやると決めてから、仕事の質は目に見えて改善された。
					あらゆる方向に1ミリずつ進むのをやめて、これと決めた方向に全力疾走できるようになったからだ。
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="col-sm-6 study-item">
				<h3>05</h3>
				<span class="number-title">エピソードから</span>
				<span class="number-title_english">Work warring</span>
				<div class="sentence">この話は、『エッセンシャル思考』の大切さを教えてくれる。<br>
					「なにもかもやらなくては」という考え方をやめて、断ることを覚えたとき、本当に重要な仕事をやりとげることが可能になるのだ。自分の生活を振り返ってみてほしい...<br>
					機嫌を損ねないためだけに依頼を引き受けてないだろうか？
					イエスに慣れすぎて、思考停止していないだろうか？
					忙しすぎてすり減っていると感じることはないだろうか？
					働きすぎなのに成果が出なかったり、どうでもいい作業に追われて仕事ができないと感じたことはないだろうか？
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-11 explanation-box">
		<div class="ex-title">〜　エッセンシャル思考の人　〜</div>
		<div class="">
			<div class="col-xs-7 margin_style-2 ex-textBox ex-right">
				<div class="margin_style-1 ex-text">
					<span class="ex-textLarge">エッセンシャル思考</span>は、より多くのことをやりとげる技術ではない。正しいことをやりとげる技術だ。<br>
					もちろん少なければいいというものでもない。<br>
					自分の時間とエネルギーをもっとも効果的に配分し、重要な仕事で最大の成果を上げるのが、エッセンシャル思考の狙いである。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">エッセンシャル思考</span>とそうでないやり方の違いは、明確だ。
					エッセンシャル思考でないやり方は、あらゆる方向に努力が引き裂かれている。だからどの方向にも、ほんの少しずつしか進めない。
					それに比べて、エッセンシャル思考のやり方は、努力の方向が絞られている。だから、とても遠くまで進むことができる。エネルギーの使いどころを必要最小限にすることで、一番重要なものごとにおいて最大の成果を上げているのだ。
				</div>
			</div>
			<div class="col-xs-offset-5 col-xs-7 margin_style-2 ex-textBox ex-left">
				<div class="margin_style-1 ex-text">
					<span class="ex-textLarge">エッセンシャル思考の人</span>は、適当に全部やろうとは考えない。
					トレードオフを直視し、何かをとるためには何かを捨てる。
					そうしたタフな決断は、この先やってくる数々の決断の手間を省いてくれる。
					それがなければ、うんざりするほど同じことを問い続けるはめになる。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">エッセンシャル思考の人</span>は、流されない。
					たくさんの些末なものごとの中から、少数の本質的なことだけを選びとる。
					不要なものは全て捨て、歩みを妨げるものもすべて取り除く。
				</div>
			</div>
			<div class="col-xs-7 margin_style-2 ex-textBox ex-right">
				<div class="margin_style-1 ex-text">
					<span class="ex-textLarge">要するに</span>エッセンシャル思考とは、自分の力を最大限の成果につなげるためのシステマティックな方法である。
					やるべきことを正確に選び、それをスムーズにやりとげるための効果的なしくみだ。
				</div>
				<div class="ex-text">
					<span class="ex-textLarge">エッセンシャル思考</span>は、自分の選択を自の分の手に取り戻すための道のりである。
					それはあたなに、これまでとはくらべものにならないほどの成功と充実を与えてくれる。
					結果だけでなく、日々のプロセスを心から楽しめるようになる。
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-offset-1 col-xs-11 border-line"></div>
</div>


<%= render partial: 'memo-area' %>

<% if user_signed_in? %>
	<div class="row">
		<div class="col-xs-1" id="memoBtn">
			<div class="toggle-btn">
				<input type="checkbox" class="cb-value" />
				<span class="round-btn"></span>
			</div>
		</div>
		<%= render partial: 'memo-btn', locals: {memo: @memo, chapter_num: 1} %>
	</div>
<% end %>


<div class="row">
	<div class="col-xs-offset-1 col-xs-11 nav-bar">
		<div>
			<%= link_to "一覧", "/learns", class:"btn btn-default col-xs-offset-5 col-xs-2" %>
		</div>
		<div>
			<%= link_to "次章", "/learns/chapter2", class:"btn btn-default col-xs-offset-3 col-xs-2" %>
		</div>
	</div>
</div>