<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div class="row">
			<h1 class="learn-headline">Learn</h1>
			<div class="bottom-line"></div>
			<div class="headline-explanaiton">Part1~4までの全19章を通して、エッセンシャル思考の考え方に触れていきます。<br>
				それぞれの章ごとにエッセンシャル思考と非エッセンシャル思考について、<br>
				考え方の違いを記載しているので、違いを確認しながら<br>
				ご自身の体験と照らし合わせて考えたり、メモを残して見て下さい。
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-3 col-xs-6">
				<h3 class="part1">Part1<br>エッセンシャル思考とは何か？</h3>
				<ul>
					<li>1章　エッセンシャル思考と非エッセンシャル思考</li>
					<li>2章　選択</li>
					<li>3章　ノイズ</li>
					<li>4章　トレードオフ</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 learn-part">
			    <div class="circle">正しく「減らす」</div>
			    <div class="part2">
				    <h4>Part2<br>「見極める技術」</h4>
			    </div>
			    <div class="part3">
				    <h4>Part3<br>「捨てる技術」</h4>
			    </div>
			    <div class="part4">
				    <h4>Part4<br>「仕組み化の技術」</h4>
			    </div>
			    <p>5章　孤独</p>
			    <p>6章　洞察</p>
			    <p>7章　遊び</p>
			    <p>8章　睡眠</p>
			    <p>9章　選抜</p>
			    <p>10章　目標</p>
			    <p>11章　拒否</p>
			    <p>12章　キャンセル</p>
			    <p>13章　編集</p>
			    <p>14章　線引き</p>
			    <p>15章　バッファ</p>
			    <p>16章　削除</p>
			    <p>17章　前進</p>
			    <p>18章　習慣</p>
			    <p>19章　集中</p>
			</div>
		</div>
	</div>
</div>