<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1 class="work-title">My Work</h1>
		<p class="work-explanation">
			自身の本質目標と行動を4つのステップを通して考えるワークです。<br>
			【Step】をクリックくると始められます。<br>
			時間がかかるStepもありますので、ご自身ペースで進めてください。
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-10 step-boxes">
		<div class="row">
			<div class="col-md-1">
				<a href="#" class="step-titles">step1</a>
			</div>
			<div class="col-md-3 step-headlines"><h4>選択</h4></div>
			<div class="col-md-7 steps-contents">選択の内容</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-3 step-headlines"><h4>ノイズ</h4></div>
			<div class="col-md-7 steps-contents">ノイズの内容</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-3 step-headlines"><h4>トレードオフ</h4></div>
			<div class="col-md-7 steps-contents">トレードオフの内容</div>
		</div>
	</div>

	<div class="col-md-offset-1 col-md-10 step-boxes">
		<div class="row">
			<div class="col-md-1">
				<a href="#" class="step-titles">step2</a>
			</div>
			<div class="col-md-3 step-headlines"><h4>自身の大切な軸を一つ選ぶ</h4></div>
			<div class="col-md-7 steps-contents">内容</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-3 step-headlines"><h4>その他</h4></div>
			<div class="col-md-7 steps-contents">内容</div>
		</div>
	</div>

	<div class="col-md-offset-1 col-md-10 step-boxes">
		<div class="row">
			<div class="col-md-1">
				<a href="#" class="step-titles">step3</a>
			</div>
			<div class="col-md-3 step-headlines"><h4>本質目標</h4></div>
			<div class="col-md-7 steps-contents">内容</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-3 step-headlines">
				<h4>達成するために必要なこと</h4>
			</div>
			<div class="col-md-7 steps-contents">内容</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-3">
				<h4>達成の妨げとなりうること</h4>
			</div>
			<div class="col-md-7 steps-contents">内容</div>
		</div>
	</div>

	<div class="col-md-offset-1 col-md-10 step-boxes">
		<div class="row">
			<div class="col-md-1">
				<a href="#" class="step-titles">step4</a>
			</div>
			<div class="col-md-3 step-headlines"><h4>本質目標を叶える小さな一歩</h4></div>
			<div class="col-md-7 steps-contents">内容</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-3 step-headlines">
				<h4>本質目標を叶えるための習慣</h4>
			</div>
			<div class="col-md-7 steps-contents">内容</div>
		</div>
	</div>
</div>