<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="row space">
	        <div class="col-md-1 step-logo">step3</div>
	        <div class="col-md-offset-1 col-md-8">
		        <h1 class="work-title">本質目標を考える</h1>
		        <div class="row">
		        	<div class="col-md-6">
		        		<p>Step2で答えた「人生の軸」に沿った<br>
		        			具体的で測量可能かつ刺激的で魅力的な<br>
		        			本質目標を考えるワークです。
		        		</p>
		        		<br>
		        		<p>本質目標を理解するためには<br>
		        			それ以外を理解することが近道になるため<br>
		        			右横に2×2のマトリックスを用意しているので<br>
		        			参考にして下さい。
		        		</p>
		        	</div>
		        	<div class="col-md-6">table作成</div>
		        </div>
		    </div>
		</div>

		<div class="row space">
			<div class="col-md-3">
				<h4>人生の軸</h4>
		    </div>
		    <div class="col-md-7 essential">人生の軸を反映</div>
		</div>

		<div class="row space">
			<div class="col-md-3">
				<h4>本質目標</h4>
		    </div>
		    <div class="col-md-7 essential">ここに記入して下さい</div>
		</div>

		<div class="row space">
			<div class="col-md-offset-1 col-md-2 btn btn-default">戻る</div>
			<div class="col-md-offset-2 col-md-2 btn btn-default">My Work一覧</div>
			<div class="col-md-offset-2 col-md-2 btn btn-default">次へ</div>
		</div>
	</div>
</div>