<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="row">
	        <div class="col-md-3 step-logo">step1</div>
	        <div class="col-md-6">
		        <h1 class="work-title">「選択」について振り返る</h1>
		        <p class="work-explanation">
			    選択について日々の生活や今まで、どの程度出来ていたか<br>
			    エッセンシャル思考と非エッセンシャル思考に分けて把握する。
		        </p>
	        </div>
	    </div>

		<div class="row space">
			<div class="col-md-5">
				<h3 class="non_essential">非エッセンシャル思考</h3>
				<p>
					自分で選ぶことを少しずつ放棄して、<br>
					いつの間にか誰かのいいなりになるといった経験など
				</p>
			</div>
			<div class="col-md-2">
				<h3 class="step-headline">選択</h3>
			</div>
			<div class="col-md-5">
				<h3 class="essential">エッセンシャル思考</h3>
				<p>これをやろうと選んだ経験など</p>
			</div>
		</div>

		<div class="row space">
			<div class="col-md-5">
				<div class="row">
					<div class="non_essential">form</div>
			        <div class="non_essential">作成一覧表示</div>
			    </div>
			</div>
			<div class="col-md-offset-2 col-md-5">
				<div class="row">
					<div class="essential">form</div>
			        <div class="essential">作成一覧表示</div>
			    </div>
			</div>
		</div>

		<div class="row space">
			<%= link_to "My Work一覧", works_path, class:"col-xs-offset-5 col-xs-2 btn btn-default" %>
			<%= link_to "次へ", works_2_path, class:"col-xs-offset-2 col-xs-2 btn btn-default" %>
		</div>
	</div>
</div>