<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="row space">
	        <div class="col-md-1 step-logo">step4</div>
	        <div class="col-md-offset-1 col-md-8">
		        <h1 class="work-title">小さな一歩を考える</h1>
		        <p class="work-explanation">
			    Step4にて考えた「本質目標」を達成するために必要なことを書き出しました。<br>
			    それらをもとに自身が日々の生活の中で行うことのできる小さな行動には<br>
			    どのようなものがあるか考えてみるワークです。
		        </p>
	        </div>
	    </div>

	    <div class="row space">
	    	<div class="col-md-3">
				<h4>本質目標</h4>
		    </div>
		    <div class="col-md-7 essential">書き出したやつ</div>
		</div>

		<div class="row space">
			<div class="col-md-3">
				<h4>必要なこと</h4>
		    </div>
		    <div class="col-md-7">一覧表表示</div>
		</div>

		<div class="row space">
			<div class="col-md-3">
				<h4>小さな一歩</h4>
		    </div>
		    <div class="col-md-7">
		    	<div class="row space">
		    		<div class="essential">form</div>
		    	</div>
		    	<div class="row essential">一覧表示</div>
		    </div>
		</div>

		<div class="row space">
			<div class="col-md-offset-1 col-md-2 btn btn-default">戻る</div>
			<div class="col-md-offset-2 col-md-2 btn btn-default">My Work一覧</div>
			<div class="col-md-offset-2 col-md-2 btn btn-default">次へ</div>
		</div>
	</div>
</div>