<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="row space">
	        <div class="col-md-1 step-logo">step2</div>
	        <div class="col-md-offset-1 col-md-8">
		        <h1 class="work-title">人生の軸を決める</h1>
		        <p class="work-explanation">
			    あなたにとって生きていく上で大切だと考える<br>
			    「人生の軸」を考えて書き出していきます
		        </p>
	        </div>
	    </div>

	    <div class="row space">
	    	<div class="col-md-3">
	    		<h4>人生の軸</h4>
	    	</div>
	    	<div class="col-md-7">
	    		<div class="essential">投稿form</div>
	    		<div class="essential">作成一覧</div>
	    	</div>
	    </div>

	    <div class="row space">
	    	<p>書き出した中で、あなとにとって最も大切にしたい「人生の軸」を1つ選んでみましょう
	    	</p>
	    	<div class="col-md-offset-3 col-md-7 essential">
	    		この中より選択してください（select box）
	    	</div>
	    </div>

	    <div class="row space">
			<div class="col-md-offset-1 col-md-2 btn btn-default">戻る</div>
			<div class="col-md-offset-2 col-md-2 btn btn-default">My Work一覧</div>
			<div class="col-md-offset-2 col-md-2 btn btn-default">次へ</div>
		</div>
	</div>
</div>