<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div class="row">
		    <h1 class="work-title">User Work</h1>
		    <p class="work-explanation">
			他のユーザのWorkを参考にいろんな考え方・価値観を知ってみましょう。<br>
			"いいね"をつけることで、ご自身の「Favorite」からいつでも確認できます。
		    </p>
        </div>

        <div class="row space">
        	<div class="col-xs-5">
        	    <h3>新着</h3>
                <%= @essential_goals.each do |goal| %>
        	        <div class="row essential">
        		        <div class="col-xs-3">本質目標</div>
        		        <div class="col-xs-9"><%= goal.writing %></div>
        		        <div class="col-xs-3"><%= goal.user_id.image %></div>
        		        <div class="col-xs-6"><%= goal.user_id.name %></div>
        	        </div>
                <% end %>
        	    <div class="row">
        		    <div class="col-xs-offset-5 col-xs-2 btn btn-default">もっと見る</div>
        	    </div>
            </div>
            <div class="col-xs-offset-2 col-xs-5">
        	    <h3>良いね数ランキング</h3>
        	    <div class="row essential">
        		    <div class="col-xs-3">本質目標</div>
        		    <div class="col-xs-9">内容</div>
        		    <div class="col-xs-3">aicon</div>
        		    <div class="col-xs-6">nikname</div>
        	    </div>
        	    <div class="row space">
        		    <div class="col-xs-offset-5 col-xs-2 btn btn-default">もっと見る</div>
        	    </div>
            </div>
        </div>
    </div>
</div>