<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div class="row">
			<h1>My Page　編集画面</h1>
		</div>
		<% form_for(@user) do %>
		    <div class="row form-group">
		        <div class="col-xs-offset-4 col-xs-2">user icon</div>
		        <div class="col-xs-3">
		        	<%= f.text_field :name, autofocus: true, class:"", id:"inputName", placeholder:"名前を記入して下さい"%>
		        </div>
		    </div>
		<div class="row">
			<div class="col-xs-offset-4 col-xs-2">name</div>
		    <div class="col-xs-3">
		    	<%= f.text_field :name, autofocus: true, class:"", id:"inputName", placeholder:"名前を記入して下さい"%>
		    </div>
		</div>
		<div class="row">
			<div class="col-xs-offset-4 col-xs-2">introduction</div>
		    <div class="col-xs-3"><%= @user.introduction %></div>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-3 btn btn-primary">編集する</div>
			<div class="col-xs-offset-2 col-xs-3 btn btn-danger">退会する</div>
		</div>
	</div>
</div>