<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div class="row">
			<h1>My Page</h1>
		</div>
		<div class="row">
		    <div class="col-xs-offset-4 col-xs-2">user icon</div>
		    <div class="col-xs-3"></div>
		</div>
		<div class="row">
			<div class="col-xs-offset-4 col-xs-2">name</div>
		    <div class="col-xs-3"><%= @user.name %></div>
		</div>
		<div class="row">
			<div class="col-xs-offset-4 col-xs-2">introduction</div>
		    <div class="col-xs-3"><%= @user.introduction %></div>
		</div>
		<% if @user.id == current_user.id %>
		    <div class="row">
			    <div class="col-xs-offset-2 col-xs-3 btn btn-primary">編集する</div>
			    <div class="col-xs-offset-2 col-xs-3 btn btn-danger">退会する</div>
		    </div>
		<% end %>
	</div>
</div>