<div id="aboutScrollSpy">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#aboutNavbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
<!-- 				<a class="navbar-brand linkInThePage" href="#top">タイトル
				</a> -->
			</div>
			<div class="collapse navbar-collapse" id="aboutNavbar">
				<ul class="nav navbar-nav row">
					<li class="col-md-3">
						<a class="linkInThePage" href="#About">About</a>
					</li>
					<li class="col-md-3">
						<a class="linkInThePage" href="#Learn">Learn</a>
					</li>
					<li class="col-md-3">
						<a class="linkInThePage" href="#MyWork">My Work</a>
					</li>
					<li class="col-md-3">
						<a class="linkInThePage" href="#UserWork">User Work</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>





<!-- <div id class="row">
	<div class="col-md-3">
		 <div class="row">
		    <h2 class="col-md-offset-2 col-md-8">About</h2>
		 </div>
	</div>
	<div class="col-md-3">
	    <div class="row">
		    <h2 class="col-md-offset-2 col-md-8">Learn</h2>
		</div>
	</div>
	<div class="col-md-3">
		<div class="row">
		    <h2 class="col-md-offset-2 col-md-8">My Work</h2>
		</div>
	</div>
	<div class="col-md-3">
	    <div class="row">
		    <h2 class="col-md-offset-2 col-md-8">User Work</h2>
	    </div>
	</div>
</div> -->

<div id="About" class="row headline-box">
	<div class="col-md-offset-1 col-md-10">
		<h2>About</h2>
		<div class="bottom-line"></div>
		<div class="row">
			<div class="col-md-offset-1 col-md-2 book-space">本の画像</div>
			<div class="col-md-offset-1 col-md-7">
				　グレッグ・マキューン著「エッセンシャル思考」を題材にしたサイトになります。この本の考え方に触れ、人生に置いてとても大切な考え方が多数書かれていたため、内容を簡単にですがまとめ作成させて頂きました。「少し気になっていた」という方はもちろん、「読んだことある」という方もサイトを利用してエッセンシャル思考の考え方により触れてみて下さい。<br>
                　このサイトでは、Learn、My Work、Other User Workを通し、自身の大切なことを「選択」することに役立てることができます。また、いいねボタンを押すことで参考にしたい方のOther User Workをいつでもご確認頂けます。<br>
                　気になった方は是非、実際に購入してより深く自身で学んでみて頂ければ幸いです。
            </div>
        </div>
	</div>
</div>

<div id="Learn" class="row headline-box">
	<div class="col-md-offset-1 col-md-10">
		<h2>Learn</h2>
		<div class="bottom-line"></div>
		<div class="row">
		    <div class="col-md-offset-4 col-md-4 explanation">
		    	4つのPartからなるエッセンシャル思考の考え方を学べます。各章にはメモスペースがありますので、いま感じたこと・考えをメモして下さい。
		    </div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3>Part1<br>エッセンシャル思考とは？</h3>
				<br>
				<p >エッセンシャル思考の基本的な考え方を学びます。その際に大切な「選択」「ノイズ」トレードオフ」の考え方に触れていきます。
				</p>
			</div>
			<div class="col-md-3">
				<h3>Part2<br>見極める技術</h3>
				<br>
				<p>多数の些末なことの中から、少数の重要なことを見分けるための技術について学びます。
				</p>
			</div>
			<div class="col-md-3">
				<h3>Part3<br>捨てる技術</h3>
				<br>
				<p>多数の些末なことを容赦なく切り捨てるために必要な技術について学びます。</p>
			</div>
			<div class="col-md-3">
				<h3>Part4<br>仕組み化の技術</h3>
				<br>
				<p>努力や根性に頼らず、自動的にエッセンシャル思考を実現するための技術について学びます。
				</p>
			</div>
		</div>
	</div>
</div>

<div id="MyWork" class="row headline-box">
	<div class="col-md-offset-1 col-md-10">
		<h2>My Work</h2>
		<div class="bottom-line"></div>
		<div class="row">
		    <div class="col-md-offset-4 col-md-4 explanation">
		    	4つのStepを通してご自身の一番大切なことを選択し深めるワークを用意してあります。是非、エッセンシャル思考をもとに取り組んでみてください。
		    </div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h3>Step1</h3>
				<br>
				<p>選択、ノイズ、トレードオフについて、エッセンシャル思考の行動と非エッセンシャル思考の行動をした経験を書き出します。
				</p>
			</div>
			<div class="col-md-3">
				<h3>Step2</h3>
				<br>
				<p>自身の大切にしている人生における軸について考えていただきます。また、その中で優先順位を決め一番のことについて次のワークにて深めます。
				</p>
			</div>
			<div class="col-md-3">
				<h3>Step3</h3>
				<br>
				<p>選んだ大切な軸をもとに本質目標を考えます。また、本質目標を叶えるために何が必要か考えて行きます。
				</p>
			</div>
			<div class="col-md-3">
				<h3>Step4</h3>
				<br>
				<p>本質目標を叶えるための小さな一歩を考え、日々の生活の中に取り入れるための習慣について考えるためのワークを行います。
				</p>
			</div>
		</div>
	</div>
</div>

<div id="UserWork" class="row headline-box">
	<div class="col-md-offset-1 col-md-10">
		<h2>User Work</h2>
		<div class="bottom-line"></div>
		<div class="row">
		    <div class="col-md-offset-4 col-md-4 explanation">
		    	他のユーザのWorkを参考にすることが出来ます。是非、他の方の価値観も知りご自身の選択をより素晴らしいものにしてみましょう。
		    </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="row">
			<a href="#" class="col-md-5 btn btn-default">
				ユーザ登録して始める<br>[Sign up]
			</a>
			<a href="#" class="col-md-offset-2 col-md-5 btn btn-default">
				エッセンシャル思考を学ぶ<br>(Learnはユーザ登録なしでもみれます)
			</a>
		</div>
	</div>
</div>

	</div>
</div>