
<div class="row space_top">
	<aside id="wrapper" class="col-xs-2">
		<ol id="indexList" class="index">
			<li><a href="#index0">エッセンシャル思考とは？</a></li>
			<li><a href="#index1">About</a></li>
			<li><a href="#index2">Learns</a></li>
			<li><a href="#index3">My Works</a></li>
			<li><a href="#index4">User Works</a></li>
		</ol>
	</aside>
	<main class="col-xs-offset-2 col-xs-10">
		<div id="index0" class="col-sm-12 about-box">
			<h2>エッセンシャル思考とは？</h2>
			<div class="col-xs-9 is-padding">
				<p>
					エッセンシャル思考は、人生をすっきりさせるための片付けコンサルタントのようなものです。
					<br>
					例えばクローゼットを片付けないで放っておくと、どうなるか想像してみて下さい。
					着たい服がすぐに見つかる状態でしょうか？
					普段から片付けをしていないと、クローゼットはぐちゃぐちゃになり、着ない服でパンパンにふくれ上がってしまいます。
					<br><br>
					いっそのこと、全部捨てたらすっきりするでしょうか？<br>
					クローゼットを整理する方法を確立しないかぎり、全部捨てたところでまた同じことを繰り返すだけでしょう。
					何が必要で何が不要かを判断できないので、なくてはならない服をうっかり捨ててしまったり、二度と着ない服が溜まっていったりします。
					何をどうしていいか分からないのだから、うまくいくわけがないのです。
					<br><br>
					人生も仕事も、クローゼットと同じです。<br>
					必要なものと不要なものを区別できなければ、どうでもいいことで埋め尽くされてしまいます。
					捨てる仕組みをつくらないかぎり、やることは際限なく積み上がっていくばかりなのです。
				</p>
			</div>
			<div class="col-xs-3"></div>
			<div class="col-xs-offset-3 col-xs-9 is-padding">
				<h3>エッセンシャル思考のクローゼット整理法</h3>
				<p>
					<span class="point">①評価する</span><br>
					「いつか着る可能性があるだろうか？」という考え方はやめよう。
					その代わりに、「大好きか？」「すごく似合うか？」「しょっちゅう着るか？」と考える。
					もしも答えがノーなら、それは不要なものだ。
					人生や仕事に置き換えると「これをやったら、他の何よりも重要な成果が得られるだろうか？」
				</p>
				<p>
					<span class="point">②捨てる</span><br>
					クローゼットの洋服を「いるもの」「いらないもの」に分けたとしよう。さて「いらないもの」を今すぐ捨てる勇気があるだろうか？
					「やっぱり、もったいない」と感じるのも無理はない。人はすでに持っているものを、実際よりも高く評価する傾向がある。
					一度買ってしまうとなかなか捨てられないのはそのせいだ。
					そんなときは、こう考えてみよう。「もしもこれを持っていなかったら、今からお金を出して買うだろうか？」
					すると、知らず知らずバイアスがかかっていたことに気づくはずだ。
					人生や仕事においても、一番重要でないとわかっているのに、なかなか捨てられないことがある。捨てるには努力が必要なのだ。
				</p>
				<P>
					<span class="point">③実行する</span><br>
					クローゼットをきれいに保つには、日頃から整理整頓ができるしくみが必要だ。
					いらないものを入れるための特大サイズの袋を用意して、どうしても必要なもの以外はそこに入れよう。
					定期的にその袋を持って古着屋に行き、買い取ってもらう習慣をつけよう。
					人生や仕事でも、選び抜いた行動を実行するためには、行動をしくみ化しよう。
				</P>
			</div>
			<div class="col-xs-9 is-padding">
				<p>
					もちろん物事はクローゼットのように単純ではありません。<br>
					服は置いたところにとどまっていてくれますが、仕事や用事は勝手にどんどん増殖していきます。世の中は、そんなことばかりです。
					注意深くスケジュールを立てても、数時間後にはすっかり予定が狂ってしまう。週末くらいは家でのんびりしようと思っていたのに、雑用やトラブルで結局つぶれてしまう。
					<br><br>
					しかし、希望を失うことはありません。そこから脱け出す方法はあります。<br>
					エッセンシャル思考とは、人生のクローゼットを整理する仕組みのことです。
					思い切って一度やれば終わりというものではないし、月に一度のイベントでもありません。
					クローゼットをきれいに保つには、そもそも散らからない仕組み作りが不可欠です。
					仕事や用事を頼まれるたびに、イエスかノーかを正しく決めることが必要です。そのための確固としたルールがエッセンシャル思考なのです。
					<br><br>
					行動を取捨選択できるようになると、すべてが変わります。<br>
					ひとつ上のレベルの生き方が手に入る。
					不要なものを捨てる生き方は、自由です。
					もう誰かの思惑に振り回されることもない。自分で選べるのです。
				</p>
			</div>
			<div class="bottom-line"></div>
		</div>
		<div id="index1" class="col-sm-12 about-box">
			<h2>About</h2>
			<div class="bottom-line"></div>
			<div class="row">
				<div class="col-xs-4 book-space"></div>
				<div class="col-xs-8">
					　グレッグ・マキューン著「エッセンシャル思考」を題材にしたサイトになります。この本は人生においてとても大切な考え方が多数書かれていたため、内容を簡単にですがまとめ作成させて頂きました。「少し気になっていた」という方はもちろん、「読んだことある」という方もサイトを利用してエッセンシャル思考の考え方により触れて頂けたら幸いです。<br>
	                　このサイトでは、Learns、My Works、User Worksを通し、自身の大切なことを「選択」することに役立てることができます。また、いいねボタンを押すことで参考にしたいユーザーのUser Worksをいつでも確認できます。<br>
	                　『エッセンシャル思考』に触れより気になった方は、実際に購入してより深くご自身で学んでみて頂けると嬉しいです。
	            </div>
	        </div>
		</div>

		<div id="index2" class="col-sm-12 about-box">
			<h2>Learns</h2>
			<div class="bottom-line"></div>
			<div class="row">
			    <div class="col-xs-offset-4 col-xs-4 explanation">
			    	4つのPartからなるエッセンシャル思考の考え方を学べます。各章にはメモスペースがありますので、感じたこと・思い浮かんだ考え・過去の経験などをメモしてみて下さい。
			    </div>
			    </div>
			<div class="row">
				<div class="col-xs-3">
		            <h4>Part1<br><br>エッセンシャル思考</h4>
					<p class="text_height">エッセンシャル思考の基本的な考え方を学びます。その際に大切な「選択」「ノイズ」トレードオフ」の考え方に触れていきます。</p>
				</div>
				<div class="col-xs-3">
					<h4>Part2<br><br>見極める技術</h4>
					<p class="text_height">多数の些末なことの中から、少数の重要なことを見分けるための技術について学びます。</p>
				</div>
				<div class="col-xs-3">
					<h4>Part3<br><br>捨てる技術</h4>
					<p class="text_height">多数の些末なことを容赦なく切り捨てるために必要な技術について学びます。</p>
				</div>
				<div class="col-xs-3">
					<h4>Part4<br><br>仕組み化の技術</h4>
					<p class="text_height">努力や根性に頼らず、自動的にエッセンシャル思考を実現するための技術について学びます。</p>
				</div>
			</div>
		</div>

		<div id="index3" class="col-sm-12 about-box">
			<h2>My Works</h2>
			<div class="bottom-line"></div>
			<div class="row">
			    <div class="col-xs-offset-4 col-xs-4 explanation">
			    	4つのStepを通してご自身の一番大切なことを選択し深めるワークを用意してあります。是非、エッセンシャル思考をもとに取り組んでみてください。
			    </div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<h4>Step1</h4>
					<p class="text_height">選択、ノイズ、トレードオフについて、エッセンシャル思考の行動と非エッセンシャル思考の行動をした経験を書き出します。</p>
				</div>
				<div class="col-xs-3">
					<h4>Step2</h4>
					<p class="text_height">自身の大切にしている人生における軸について考えていただきます。また、その中で優先順位を決め一番のことについて次のワークにて深めます。
					</p>
				</div>
				<div class="col-xs-3">
					<h4>Step3</h4>
					<p>選んだ大切な軸をもとに本質目標を考えます。また、本質目標を叶えるために何が必要か考えて行きます。</p>
				</div>
				<div class="col-xs-3">
					<h4>Step4</h4>
					<p>本質目標を叶えるための小さな一歩を考え、日々の生活の中に取り入れるための習慣について考えるためのワークを行います。</p>
				</div>
			</div>
		</div>

		<div id="index4" class="col-sm-12 about-box">
			<h2>User Works</h2>
			<div class="bottom-line"></div>
			<div class="row">
			    <div class="col-xs-offset-2 col-xs-8 explanation">
			    	他のユーザのMy Worksを参照することが出来ます。<br>
			    	ご自身のMy Worksでつまずいたり、
			    	他のユーザがどのような価値観で人生を過ごしているかを知るために活用し、
			    	ご自身の価値観や選択をより素晴らしいものにするための
			    	ヒントとしてみ下さい。
			    </div>
			</div>
			<div class="col-xs-12">
				<a href="/users/sign_up" class="col-xs-5 btn btn-default">
					ユーザ登録して始める<br>[Sign up]
				</a>
				<a href="/learns" class="col-xs-offset-2 col-xs-5 btn btn-default">
					エッセンシャル思考を学ぶ<br>
					[Learns]
				</a>
			</div>
		</div>
	</main>
</div>