<div class="row">
	<div id="image-frame" class="top-images">
		<div class="image-style top-image1">
			<div class="image-cover"></div>
			<div class="text-box">
				<p class="text-item">
					こんにちは<br>
					おはよう<br>
					こんばんは
				</p>
			</div>
		</div>
		<div class="image-style top-image2">
			<div class="image-cover"></div>
			<div class="text-box">
				<p class="text-item">
					いいいいい<br>
					いいいいい<br>
					いいいいいは
				</p>
			</div>
		</div>
		<div class="image-style top-image3">
			<div class="image-cover"></div>
			<div class="text-box">
				<p class="text-item">
					こんううううううううう<br>
					おううううううううう<br>
					こうううううううううは
				</p>
			</div>
		</div>
		<div class="image-style top-image4">
			<div class="image-cover"></div>
			<div class="text-box">
				<p class="text-item">
					こんええええええええ<br>
					ええええええええう<br>
					こんええええええええ
				</p>
			</div>
		</div>
		<div class="image-style top-image5">
			<div class="image-cover"></div>
			<div class="text-box">
				<p class="text-item">
					おおおおおおおおおおおおおおおおおは<br>
					おおおおおおおおおおおおおおおおお<br>
					おおおおおおおおおおおおおおおおおは
					<!-- <span><%= link_to "サイト概要[about]", "/about", class:"col-xs-offset-4 col-xs-4 btn btn-primary btn-lg btn-active" %></span> -->
					<span>
						<%= link_to about_path do %>
							<span class="col-xs-offset-4 col-xs-4 btn btn-primary btn-lg btn-active">
								サイト概要<br>[about]
							</span>
						<% end %>
					</span>
				</p>
			</div>
		</div>
	</div>

	<div class="obserber-boxes">
			<div class="observer-box" id="top-image1"></div>
			<div class="observer-box" id="top-image2"></div>
			<div class="observer-box" id="top-image3"></div>
			<div class="observer-box" id="top-image4"></div>
			<div class="observer-box" id="top-image5"></div>
	</div>
</div>
