<div class="row">
	<div class="col-sm-12">
		<div id="image-box" class="top-lists">
			<div class="image-style top-image1">
				<div class="image-cover"></div>
				<div class="text-box top-image1">
					<p class="text-item">
						こんにちは<br>
						おはよう<br>
						こんばんは
					</p>
				</div>
			</div>
			<div class="image-style top-image2">
				<div class="image-cover"></div>
				<div class="text-box top-image2">
					<p class="text-item">
						こんにちは<br>
						おはよう<br>
						こんばんは
					</p>
				</div>
			</div>
			<div class="image-style top-image3">
				<div class="image-cover"></div>
				<div class="text-box top-image3">
					<p class="text-item">
						こんにちは<br>
						おはよう<br>
						こんばんは
					</p>
				</div>
			</div>
			<div class="image-style top-image4">
				<div class="image-cover"></div>
				<div class="text-box top-image4">
					<p class="text-item">
						こんにちは<br>
						おはよう<br>
						こんばんは
					</p>
				</div>
			</div>
			<div class="image-style top-image5">
				<div class="image-cover"></div>
				<div class="text-box top-image5">
					<p class="text-item">
						こんにちは<br>
						おはよう<br>
						こんばんは
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 obserber-boxs">
		<div>
			<div class="obserber-box" id="top-image1"></div>
			<div class="obserber-box" id="top-image2"></div>
			<div class="obserber-box" id="top-image3"></div>
			<div class="obserber-box" id="top-image4"></div>
			<div class="obserber-box" id="top-image5"></div>
		</div>
	</div>
</div>
