<div class="row">
	<div id="image-frame" class="top-images">
		<div class="image-style top-image1">
			<div class="image-cover"></div>
			<div class="text-box">
				<p class="text-item">
					何もかも中途半端。<br>
					<br>
					振りまわされている。<br>
					<br>
					何かがおかしい。<br>
					<br>
					毎日疲れ切っている。<br>
					<br>
					<br>
					そのような『無力感』を感じていませんか？
				</p>
			</div>
		</div>
		<div class="image-style top-image2">
			<div class="image-cover"></div>
			<div class="text-box">
				<p class="text-item">
					差し迫ったものから手をつける。<br>
					<br>
					反射的に「やります」と言う。<br>
					<br>
					期限が迫ると根性で頑張る。<br>
					<br>
					<br>
					このように『やることをでたらめに増やす』ことをしていませんか？
				</p>
			</div>
		</div>
		<div class="image-style top-image3">
			<div class="image-cover"></div>
			<div class="text-box">
				<p class="text-item">
					やらなくては。<br>
					<br>
					どれも大事。<br>
					<br>
					全部こなす方法はある。<br>
					<br>
					<br>
					そのような『みんな・すべて』という考え方をしていませんか？
				</p>
			</div>
		</div>
		<div class="image-style top-image4">
			<div class="image-cover"></div>
			<div class="text-box">
				<p class="text-item">
					今の生き方が苦しいと感じたことはありませんか？<br>
					<br><br>
					選択肢が多すぎて何を選べばいいか決められないままなことはありませんか？<br>
					<br><br>
					自分で選べないから他人の言いなりになっていると気づいていますか？
				</p>
			</div>
		</div>
		<div class="image-style top-image5">
			<div class="image-cover"></div>
			<div class="text-box">
				<p class="text-item">
					人生をより良くしたい。<br>
					もっとシンプルに生きたい。<br>
					<br><br>
					そのように人生を少しでも好転させたいと思ったら<br>
					『エッセンシャル思考』は役立ちます。<br>
					<br><br>
					自身の生き方をデザインするためのガイドにしてみて下さい。<br>
					<br><br>
					<span>
						<%= link_to about_path do %>
							<span class="col-xs-offset-4 col-xs-4 btn btn-default btn-md btn-active">
								サイト概要<br>[about]
							</span>
						<% end %>
					</span>
				</p>
			</div>
		</div>
	</div>

	<div class="obserber-boxes">
			<div class="observer-box" id="top-image1"></div>
			<div class="observer-box" id="top-image2"></div>
			<div class="observer-box" id="top-image3"></div>
			<div class="observer-box" id="top-image4"></div>
			<div class="observer-box" id="top-image5"></div>
	</div>
</div>
