<div class="row">
	<div class="video-box">animation</div>
</div>
<div class="row">
	<div class="col-lg-offset-1 col-lg-5">
		<h2>エンセンシャル思考とは？</h2>
		<p>「より少なく、しかしより良く」という考え方。<br>
			本当に大事なことを見極め、不要なものを捨て、<br>
			最高のパフォーマンスを発揮するための考え方。
		</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-offset-6 col-lg-5">
		<h2>3つの思い込みを克服する</h2>
		<p>「やらなくては」でなく「やると決める」<br>
			「どれも大事」でなく「大事なものはめったにない」<br>
			「全部できる」でなく「何でもできるが、全部はやらない」
		</p>
	</div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-5">
    	<h2>正しく「減らす」技術を身につける</h2>
    	<p>「見極める」技術　「捨てる」技術　「仕組み化する」技術<br>
    		この3つを通して、「正しく減らす」ことについて学び身につける。
    	</p>
    </div>
</div>
<div class="row">
	<div class="col-lg-offset-6 col-lg-5">
		<h2>エッセンシャル思考で生きる</h2>
		<p>誰の中にも「エッセンシャル思考」と「非エッセンシャル思考」がある。<br>
			自身の中心に「エッセンシャル思考」を据え、<br>
			自分を内側から変える力を身につけることで効果的に生きる。
		</p>
	</div>
</div>
<div class="row">
	<%= link_to "サイト概要[About]", "/about", class:"col-lg-offset-5 col-lg-2 btn btn-primary btn-lg btn-active" %>
	</a>
</div>