// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "UTF-8";

$header-height: 80px;


// ↓top.html.erb↓
.top-images{
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 5;
}
.image-style{
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0;
}
.top-image1{
	background-image: image-url("homes/top-1.jpg");
}
.top-image2{
	background-image: image-url("homes/top-2.jpg");
}
.top-image3{
	background-image: image-url("homes/top-3.jpg");
}
.top-image4{
	background-image: image-url("homes/top-4.jpg");
}
.top-image5{
	background-image: image-url("homes/top-5.jpg");
}
.is-active{
	transition-duration: 2s;
	transition-timing-function: ease-out;
	opacity: 1!important;
}
.text-box{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	padding: 0 50px;
	opacity: 0;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
	.text-item{
		font-size: 17px;
	}
}
.is-active2{
	transition-delay: 1s;
	transition-duration: 2s;
	transition-timing-function: ease-in;
	opacity: 1!important;
}
.is-leave{
	transition-delay: 0.2s;
	transition-duration: 1s;
	transition-timing-function: ease-in;
	opacity: 0;
}
.image-cover{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: #111;
	opacity: 0.5;
	z-index: 1;
}
.text-box{
	text-align: center;
}

.observer-box{
	height: 200vh;
	width: 50%;
}





// ↓about.html.erb

#wrapper{
	position: fixed;
	top: $header_height + 30px;
	left: 10px;
	.index{
		text-align: center;
		li{
			list-style: none;
			color: #999999;
		}
		a{
			display: block;
			width: 100%;
			padding: 15px 0;
			border-radius: 4px;
			text-decoration: none;
			color: inherit;
		}
		a.active{
			color: #333;
			background-color: #f3f3f3;
		}
	}
}


.about-box{
	margin-bottom: 100px;
	h2{
	    text-align: center;
	}
	.is-padding{
		padding-top: 50px;
	}
	h3{
		margin-top: 0;
	}
	.point{
		font-size: 18px;
		margin-bottom: 25px;
		background: linear-gradient(transparent 70%, #F08080 70%);
	}
	h4{
	    text-align: center;
	    margin-bottom: 25px;
	}
	.bottom-line{
	    height: 2px;
	    margin-bottom: 40px;
	    background-color: #000;
    }
    .explanation{
	    text-align: center;
	    margin-bottom: 40px;
    }
    .book-space{
    	background-image: image-url("book.jpg");
    	background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
    	height: 200px;
    	border-right: 1px solid grey;
    }
}

.flex-boxes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.flex-box{
		width: 220px;
		padding: 0 20px;
		margin-bottom: 30px;
	}
}