// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-box{
	width: 100%;
	height: 790px;;
	border: solid 2px #000;
}


#aboutScrollSpy{
    position: fixed;
	top: 80px;
	width: 100%;
}
h2, h3{
	text-align: center;
}
p{
	padding: 0 30px;
	text-align: center;
}
.headline-box{
	margin: 50px 0;
}
.bottom-line{
	height: 2px;
	margin-bottom: 40px;
	background-color: #000;
}
.contents-box{
	padding: 0 25px;
}


.explanation{
	text-align: center;
	margin-bottom: 40px;
}
.book-space{
	border: solid 1px red;
	height: 120px;
}