// Place all the styles related to the learns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* 共通 */
$learn-circle_height: 500px;
$font-size_style-1: 42px; /* headline */
$font-size_style-2: 21px; /* part */
$font-size_style-3: 16px; /* aのリンク */
/* 共通 */

li{
	list-style: none;
}

.learn-headline{
	text-align: center;
	margin: 20px 0 5px;
	font-weight: bold;
	font-size: 39px;
}
.bottom-line{
	height: 3px;
	margin: 0 auto;
	background-color: #000;
	width: 90%;
}
.headline-explanation{
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
	text-align: center;
	line-height: 250%;
	font-size: 16px;
	width: 90%;
	letter-spacing: -0.01em;
}
@media screen and (max-width: 768px){
	.learn-headline{
		font-size: 34px;
	}
	.headline-explanation{
		font-size: 14px;
	}
}
@media screen and (max-width: 680px){
	.learn-headline{
		font-size: 29px;
	}
	.headline-explanation{
		margin-top: 30px;
		margin-bottom: 40px;
		font-size: 13px;
	}
}
@media screen and (max-width: 590px){
	.learn-headline{
		font-size: 23px;
	}
	.headline-explanation{
		font-size: 12px;
	}
}
@media screen and (max-width: 481px){
	.learn-headline{
		font-size: 22px;
	}
	.headline-explanation{
		margin-top: 15px;
		margin-bottom: 20px;
		font-size: 11px;
	}
}
@media screen and (max-width: 400px){
	.learn-headline{
		font-size: 20px;
	}
	.headline-explanation{
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 10px;
		-webkit-transform: scale(0.9);
	}
}



.part1{
	margin: 0 auto;
	padding: 8px 0;
	width: 450px;
	background-color: #000;
	color: #fff;
	border-radius: 10px;
	text-align: center;
	font-size: 25px;
	@media screen and (max-width: 768px){
		width: 400px;
		padding: 6px 0;
		font-size: 20px;
	}
	@media screen and (max-width: 680px){
		width: 340px;
		font-size: 18px;
	}
	@media screen and (max-width: 590px){
		width: 300px;
		font-size: 15px;
	}
	@media screen and (max-width: 481px){
		width: 275px;
		font-size: 14px;
	}
	@media screen and (max-width: 400px){
		width: 220px;
		font-size: 12px;
	}
}
.part1-link_items{
	margin: 30px auto 20px;
	width: 80%;
	li{
		margin-bottom: 20px;
	    text-align: center;
	    a{
	    	font-size: 16px;
	    }
    }
    @media screen and (max-width: 768px){
    	li{
	    	a{
	    		font-size: 14px;
	    	}
	    }
    }
    @media screen and (max-width: 680px){
    	li{
	    	a{
	    		font-size: 12px;
	    	}
	    }
    }
    @media screen and (max-width: 590px){
    	margin: 20px auto 0px;
    	li{
    		margin-bottom: 15px;
	    	a{
	    		font-size: 11px;
	    	}
	    }
    }
    @media screen and (max-width: 481px){
    	margin: 15px auto 0px;
    	li{
    		margin-bottom: 10px;
	    	a{
	    		font-size: 10px;
	    	}
	    }
    }
    @media screen and (max-width: 400px){
    	margin: 20px auto 10px;
    	li{
    		margin-bottom: 10px;
	    	a{
	    		display: block;
	    		/* ↓font-size: 8px;↓ */
	    		font-size: 10px;
	    		-webkit-transform: scale(0.8);
	    	}
	    }
    }
}


.learn-parts{
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 10px;

	.learn-circle{
		position: relative;
		max-width: $learn-circle_height;
		height: $learn-circle_height;
		margin: 30px auto;
	    z-index: 5;
		border-radius: 50%;
		border: solid 9px #000;
		text-align: center;
		line-height: $learn-circle_height;
		p{
			font-size: 42px;
			text-decoration: underline;
			font-weight: bold;
		}
		.arrow{
			position: absolute;
			z-index: 6;
			display: block;
			width: 0;
			height: 0;
			border-top: 25px solid #000;
			border-right: 18px solid transparent;
			border-left: 18px solid transparent;
		}
		.arrow:nth-of-type(1){
			top: 301px;
			left: 456px;
			transform: rotate(21deg);
			-webkit-transform: rotate(21deg);
		}
		.arrow:nth-of-type(2){
			top: 379px;
			left: 30px;
			transform: rotate(138deg);
			-webkit-transform: rotate(138deg);
		}
		.arrow:nth-of-type(3){
			top: -2px;
			left: 138px;
			transform: rotate(-110deg);
			-webkit-transform: rotate(-110deg);
		}
		h4{
		 	font-size: 20px;
		}
		.part2{
			position: absolute;
			z-index: 6;
			top: -27px;
			left: 161px;
			text-align: center;
			background-color: #000;
			color: #fff;
			border-radius: 10px;
		}
		.part3{
			position: absolute;
			z-index: 6;
			width: 173px;
			top: 320px;
			left: 393px;
			text-align: center;
			background-color: #000;
			color: #fff;
			border-radius: 10px;
		}
		.part4{
			position: absolute;
			z-index: 6;
			top: 320px;
			left: -90px;
			text-align: center;
			background-color: #000;
			color: #fff;
			border-radius: 10px;
		}
	}

	@media screen and (max-width: 768px){
		.learn-circle{
			width: $learn-circle_height - 100px;
			height: $learn-circle_height - 100px;
			line-height: $learn-circle_height - 110px;
			p{
				font-size: 36px;
			}
			.arrow{
				border-top: 20px solid #000;
				border-right: 16px solid transparent;
				border-left: 16px solid transparent;
			}
			.arrow:nth-of-type(1){
				top: 225px;
				left: 364px;
			}
			.arrow:nth-of-type(2){
				top: 294px;
				left: 15px;
			}
			.arrow:nth-of-type(3){
				top: 0px;
				left: 100px;
			}
			h4{
				font-size: 18px;
			}
			.part2{
				top: -28px;
				left: 120px;
			}
			.part3{
				top: 240px;
				left: 303px;
			}
			.part4{
				top: 240px;
				left: -70px;
			}
		}
	}

	@media screen and (max-width: 680px){
		margin-top: 0;
		margin-bottom: 0;
		.learn-circle{
			width: $learn-circle_height - 170;
			height: $learn-circle_height - 170;
			line-height: $learn-circle_height - 170;
			border: solid 8px #000;
			p{
				font-size: 29px;
			}
			.arrow{
				border-top: 20px solid #000;
				border-right: 16px solid transparent;
				border-left: 16px solid transparent;
			}
			.arrow:nth-of-type(1){
				top: 178px;
				left: 298px;
			}
			.arrow:nth-of-type(2){
				top: 242px;
				left: 10px;
			}
			.arrow:nth-of-type(3){
				top: 0px;
				left: 77px;
			}
			h4{
				font-size: 15px;
			}
			.part2{
				top: -17px;
				left: 97px;
			}
			.part3{
				top: 194px;
				left: 247px;
				width: 124px;
			}
			.part4{
				top: 194px;
				left: -61px;
			}
		}
	}

	@media screen and (max-width: 590px){
		.learn-circle{
			width: $learn-circle_height - 200;
			height: $learn-circle_height - 200;
			line-height: $learn-circle_height - 200;
			border: solid 7px #000;
			p{
				font-size: 26px;
			}
			.arrow{
				border-top: 17px solid #000;
				border-right: 13px solid transparent;
				border-left: 13px solid transparent;
			}
			.arrow:nth-of-type(1){
				top: 168px;
				left: 271px;
			}
			.arrow:nth-of-type(2){
				top: 222px;
				left: 13px;
			}
			.arrow:nth-of-type(3){
				top: 0px;
				left: 74px;
			}
			h4{
				font-size: 13px;
				margin-top: 8px;
				margin-bottom: 8px;
			}
			.part2{
				left: 90px;
			}
			.part3{
				top: 181px;
				left: 221px;
				width: 115px;
			}
			.part4{
				top: 181px;
				left: -52px;
			}
		}
	}

	@media screen and (max-width: 481px){
		margin-top: 0px;
		margin-bottom: 0px;
		.learn-circle{
			width: $learn-circle_height - 250;
			height: $learn-circle_height - 250;
			line-height: $learn-circle_height - 250;
			margin: 15px auto 0;
			border: solid 6px #000;
			p{
				font-size: 22px;
			}
			.arrow{
				border-top: 13px solid #000;
				border-right: 11px solid transparent;
				border-left: 11px solid transparent;
			}
			.arrow:nth-of-type(1){
				top: 134px;
				left: 227px;
			}
			.arrow:nth-of-type(2){
				top: 178px;
				left: 5px;
			}
			.arrow:nth-of-type(3){
				top: 1px;
				left: 58px;
			}
			h4{
				font-size: 12px;
				margin: 5px 0;
			}
			.part2{
				top: -13px;
				left: 72px;
			}
			.part3{
				top: 144px;
				left: 190px;
				width: 90px;
			}
			.part4{
				top: 144px;
				left: -48px;
			}
		}
	}

	@media screen and (max-width: 400px){
		margin-top: 0px;
		margin-bottom: 0px;
		.learn-circle{
			width: $learn-circle_height - 300;
			height: $learn-circle_height - 300;
			line-height: $learn-circle_height - 300;
			margin: 15px auto 0;
			border: solid 5px #000;
			p{
				font-size: 18px;
			}
			.arrow{
				border-top: 10px solid #000;
				border-right: 10px solid transparent;
				border-left: 10px solid transparent;
			}
			.arrow:nth-of-type(1){
				top: 112px;
				left: 180px;
			}
			.arrow:nth-of-type(2){
				top: 148px;
				left: 7px;
			}
			.arrow:nth-of-type(3){
				top: 5px;
				left: 38px;
			}
			h4{
				font-size: 10px;
				margin: 3px 0;
			}
			.part2{
				top: -10px;
				left: 53px;
			}
			.part3{
				top: 120px;
				left: 146px;
				width: 80px;
			}
			.part4{
				top: 120px;
				left: -41px;
			}
		}
	}
}


.learn-links {
	div{
		position: absolute;
		z-index: 6;
		margin: 0 -100px;
	}
	a{
	 	font-size: 16px;
	}
	div:nth-of-type(1){
		top: -50%;
		left: 95%;
	}
	div:nth-of-type(2){
		top: -38%;
		left: 111%;
	}
	div:nth-of-type(3){
		top: -24%;
		left: 121%;
	}
	div:nth-of-type(4){
		top: -8%;
		left: 124%;
	}
	div:nth-of-type(5){
		top: 7%;
		left: 124%;
	}
	div:nth-of-type(6){
		top: 37%;
		left: 109%;
	}
	div:nth-of-type(7){
		top: 49%;
		left: 93%;
	}
	div:nth-of-type(8){
		top: 56%;
		left: 57%;
	}
	div:nth-of-type(9){
		top: 49%;
		left: 30%;
	}
	div:nth-of-type(10){
		top: 37%;
		left: 11%;
	}
	div:nth-of-type(11){
		top: 7%;
		left: -6%;
	}
	div:nth-of-type(12){
		top: -8%;
		left: 0%;
	}
	div:nth-of-type(13){
		top: -24%;
		left: 4%;
	}
	div:nth-of-type(14){
		top: -38%;
		left: 12%;
	}
	div:nth-of-type(15){
		top: -50%;
		left: 27%;
	}

	@media screen and (max-width: 768px){
		a{
			font-size: 14px;
		}
		div:nth-of-type(1){
			top: -49%;
			left: 103%;
		}
		div:nth-of-type(2){
			top: -38%;
			left: 116%;
		}
		div:nth-of-type(3){
			top: -24%;
			left: 125%;
		}
		div:nth-of-type(4){
			top: -10%;
			left: 131%;
		}
		div:nth-of-type(5){
			top: 4%;
			left: 130%;
		}
		div:nth-of-type(6){
			top: 36%;
			left: 116%;
		}
		div:nth-of-type(7){
			top: 48%;
			left: 104%;
		}
		div:nth-of-type(8){
			top: 57%;
			left: 61%;
		}
		div:nth-of-type(9){
			top: 48%;
			left: 30%;
		}
		div:nth-of-type(10){
			top: 36%;
			left: 12%;
		}
		div:nth-of-type(11){
			top: 4%;
			left: -5%;
		}
		div:nth-of-type(12){
			top: -10%;
			left: 3%;
		}
		div:nth-of-type(13){
			top: -24%;
			left: 8%;
		}
		div:nth-of-type(14){
			top: -38%;
			left: 17%;
		}
		div:nth-of-type(15){
			top: -49%;
			left: 30%;
		}
	}

	@media screen and (max-width: 680px){
		a{
			font-size: 12px;
		}
		div:nth-of-type(1){
			top: -50%;
			left: 111%;
		}
		div:nth-of-type(2){
			top: -39%;
			left: 124%;
		}
		div:nth-of-type(3){
			top: -26%;
			left: 132%;
		}
		div:nth-of-type(4){
			top: -13%;
			left: 136%;
		}
		div:nth-of-type(5){
			top: 1%;
			left: 137%;
		}
		div:nth-of-type(6){
			top: 37%;
			left: 121%;
		}
		div:nth-of-type(7){
			top: 49%;
			left: 104%;
		}
		div:nth-of-type(8){
			top: 56%;
			left: 66%;
		}
		div:nth-of-type(9){
			top: 49%;
			left: 39%;
		}
		div:nth-of-type(10){
			top: 37%;
			left: 20%;
		}
		div:nth-of-type(11){
			top: 1%;
			left: 1%;
		}
		div:nth-of-type(12){
			top: -13%;
			left: 8%;
		}
		div:nth-of-type(13){
			top: -26%;
			left: 12%;
		}
		div:nth-of-type(14){
			top: -39%;
			left: 20%;
		}
		div:nth-of-type(15){
			top: -50%;
			left: 34%;
		}
	}

	@media screen and (max-width: 590px){
		a{
			font-size: 11px;
		}
		div:nth-of-type(1){
			top: -49%;
			left: 115%;
		}
		div:nth-of-type(2){
			top: -37%;
			left: 129%;
		}
		div:nth-of-type(3){
			top: -24%;
			left: 136%;
		}
		div:nth-of-type(4){
			top: -11%;
			left: 140%;
		}
		div:nth-of-type(5){
			top: 3%;
			left: 139%;
		}
		div:nth-of-type(6){
			top: 37%;
			left: 124%;
		}
		div:nth-of-type(7){
			top: 48%;
			left: 109%;
		}
		div:nth-of-type(8){
			top: 56%;
			left: 69%;
		}
		div:nth-of-type(9){
			top: 48%;
			left: 39%;
		}
		div:nth-of-type(10){
			top: 37%;
			left: 22%;
		}
		div:nth-of-type(11){
			top: 3%;
			left: 4%;
		}
		div:nth-of-type(12){
			top: -11%;
			left: 10%;
		}
		div:nth-of-type(13){
			top: -24%;
			left: 13%;
		}
		div:nth-of-type(14){
			top: -37%;
			left: 21%;
		}
		div:nth-of-type(15){
			top: -49%;
			left: 35%;
		}
	}

	@media screen and (max-width: 481px){
		a{
			font-size: 10px;
		}
		div:nth-of-type(1){
			top: -51%;
			left: 120%;
		}
		div:nth-of-type(2){
			top: -40%;
			left: 133%;
		}
		div:nth-of-type(3){
			top: -26%;
			left: 142%;
		}
		div:nth-of-type(4){
			top: -12%;
			left: 146%;
		}
		div:nth-of-type(5){
			top: 1%;
			left: 147%;
		}
		div:nth-of-type(6){
			top: 34%;
			left: 133%;
		}
		div:nth-of-type(7){
			top: 47%;
			left: 119%;
		}
		div:nth-of-type(8){
			top: 55%;
			left: 77%;
		}
		div:nth-of-type(9){
			top: 47%;
			left: 45%;
		}
		div:nth-of-type(10){
			top: 34%;
			left: 24%;
		}
		div:nth-of-type(11){
			top: 1%;
			left: 8%;
		}
		div:nth-of-type(12){
			top: -12%;
			left: 16%;
		}
		div:nth-of-type(13){
			top: -26%;
			left: 21%;
		}
		div:nth-of-type(14){
			top: -40%;
			left: 29%;
		}
		div:nth-of-type(15){
			top: -51%;
			left: 43%;
		}
	}

	@media screen and (max-width: 400px){
		a{
			font-size: 10px;
			-webkit-transform: scale(0.8);
			-webkit-transform-origin: 0 0;
			display: block
		}
		div:nth-of-type(1){
			top: -51%;
			left: 125%;
		}
		div:nth-of-type(2){
			top: -40%;
			left: 139%;
		}
		div:nth-of-type(3){
			top: -26%;
			left: 148%;
		}
		div:nth-of-type(4){
			top: -12%;
			left: 152%;
		}
		div:nth-of-type(5){
			top: 2%;
			left: 152%;
		}
		div:nth-of-type(6){
			top: 36%;
			left: 137%;
		}
		div:nth-of-type(7){
			top: 47%;
			left: 121%;
		}
		div:nth-of-type(8){
			top: 55%;
			left: 82%;
		}
		div:nth-of-type(9){
			top: 48%;
			left: 50%;
		}
		div:nth-of-type(10){
			top: 36%;
			left: 30%;
		}
		div:nth-of-type(11){
			top: 2%;
			left: 11%;
		}
		div:nth-of-type(12){
			top: -12%;
			left: 19%;
		}
		div:nth-of-type(13){
			top: -26%;
			left: 23%;
		}
		div:nth-of-type(14){
			top: -40%;
			left: 32%;
		}
		div:nth-of-type(15){
			top: -51%;
			left: 46%;
		}
	}
}



.learn-contents{
	margin: 20px 20px;
	text-align: left;
	padding-left: 70px;
}

.non_essential-contents{
	background-color: #000;
	color: #fff;
	margin: 30px 0;
	h2{
	    text-align:center;
	    text-decoration: underline;
	}
}
.non_essential-memo{
	background-color: #000;
	color: #fff;
}
.essential-contents{
	border: solid 3px #000;
	margin: 30px 0;
	h2{
	    text-align:center;
	    text-decoration: underline;
	}
}
.essential-memo{
	border: solid 3px #000;
}