// Place all the styles related to the learns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* 共通 */
$learn-circle_height: 500px;
$font-size_style-1: 42px; /* headline */
$font-size_style-2: 21px; /* part */
$font-size_style-3: 16px; /* aのリンク */
/* 共通 */

li{
	list-style: none;
}

/* index */
.learn-headline{
	text-align: center;
	margin: 20px 0 5px;
	font-weight: bold;
	font-size: 39px;
}
.bottom-line{
	height: 3px;
	margin: 0 auto;
	background-color: #000;
	width: 100%;
}
.headline-explanation{
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
	text-align: center;
	line-height: 250%;
	font-size: 16px;
	width: 90%;
	letter-spacing: -0.01em;
}
.learn-box{
	border: 1px solid #000;
	border-radius: 10px;
	text-align: center;
	padding: 5px;
	margin: 10px;
	width: 200px;
	height: 200px;
}
.col-xs-9{
	display: flex;
	flex-wrap: wrap;
}



/* ↓Learnの各章CSS↓ */


.chapter-headline{
	margin-top: 70px;
	margin-bottom: 0;
	font-size: 30px;
	text-align: left;
	font-family: 'Sawarabi Mincho', sans-serif, "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
	height: 70vh;
	.chapter-number{
		font-size: 13px;
		border-left: 3px solid #000;
		padding-left: 0;
		margin-bottom: -10px;
		width: 7px;
		writing-mode: vertical-lr;
		text-orientation: upright;
		font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
	}
	.chapter-title{
		position: absolute;
		top: -4px;
		left: 42px;
	}
	.point{
		font-size: 45px;
		font-weight: 900;
		text-align: center;
		line-height: 60vh;
	}
}
.quotations{
	text-align: right;
	margin-bottom: 65px;
	font-size: 16px;
}
.chapter-explanation{
	font-size: 20px;
	text-align: center;
	margin-bottom: 65px;
}
.chapter_text-box{
	margin-bottom: 30px;
	.case-study{
		font-size: 20px;
		text-align:center;
	}
	.chapter_text-item{
		margin-top: 40px;
		margin-bottom: 20px;
		line-height: 150%;
		h3{
			margin-top: 0;
			margin-bottom: 20px;
			/* border-bottom: 1px dashed red; */
			font-size: 55px;
			font-weight: 400;
			color: grey;
		}
		.number-title{
			position: absolute;
			top: 15px;
			left: 88px;
			font-size: 30px;
			font-weight: bold;
		}
		.number-title_english{
			position: absolute;
			top: 39px;
			left: 90px;
			font-size: 12px;
			color: gray;
		}
	}
}
.border-line{
	height: 2px;
	background-color: #E6E6E6;
	margin-bottom: 40px;
}

.chapter_style-1{
	padding: 15px 0;
}
.chapter_style-2{
	margin-bottom: 45px;
}


.essential-contents{
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
	h2{
	    text-decoration: underline;
	}
	.essential-circle{
		width: 250px;
		height: 250px;
		border-radius: 50%;
		background-color: #f4f4f4;
		border: 1px solid #f4f4f4;
		text-align: center;
		padding-top: 50px;
		margin: 10px 10px;
	}
}
.essential-memo{
	border: solid 3px #000;
}
.non_essential-contents{
	color: #fff;
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	h2{
	    text-decoration: underline;
	}
	.non_essential-circle{
		width: 250px;
		height: 250px;
		border-radius: 50%;
		border: 2px solid #000;
		background-color: #000;
		text-align: center;
		padding-top: 50px;
		margin: 10px 10px;
	}
}
.non_essential-memo{
	background-color: #000;
	color: #fff;
}
