// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_page-text{
	text-align: right;
	font-size: 15px;
	font-weight: bold;
}

.user_page-content{
	margin-top: 30px;
	margin-bottom: 30px;
}

.user_page-icon{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: 0% 0%;
}