// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.margin_style1{
	margin-bottom: 60px;
}
.work-title{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 40px;
}
.work-explanation{
    margin-bottom: 30px;
    text-align: center;
}
.work-display{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	.writing-headline{
		width: 100%;
	}
	.left-line{
		border-left: 1px dashed #000;
		margin-bottom: 20px;
	}
	.writing-border_bottom{
		height: 1px;
		border-bottom: 1px solid #E6E6E6;
		margin-top: 5px;
	}
}
.collection_select-area{
	width: 100%;
}
.fas{
	cursor: pointer;
}

